/*Documento CSS */
body {
    font: 10px verdana;
    margin: 0 0 0 20px;
    text-align:left;
    background-color: #ffffff;
}
ul{
    list-style-type: none;
}
#contenedor{
    text-align: left;
    margin: auto;
    width: 850px;
    border: #006666 1px solid; /*#F2B88C*/
}
#cabecera{
    background:url(../images/banner.jpg);
    padding: 0 0 0 0px;
    border: #006666 1px solid; /*#F2B88C*/
    width: 850px;
    height: 106px;
}
#cabecera-inicio{
    background:url(../images/banner.jpg);
    padding: 0 0 0 0px;
    border: #006666 1px solid; /*#F2B88C*/
    width: 850px;
    height: 106px;
}

#cuerpo{
    margin: 1 0 1 0px;
    /* Color para la alcaldia de libertador
	background:url(../images/fondo.gif); */
    /*background-color: rgb(255,238,202); */
    background-color: #99ccff;
    padding: 10 10 10 10px;
    /*	margin-left: 150px;
	border-left: #F2B88C 1px solid;
    */
    font-size:10px;
}

#pie{
    /* background-color: #FFB000; */
    background-color: #6F89A4;
    color:white;
    font-weight: bold;
    /*background-color: #006666;*/
    /*background:url(../images/fondo.gif); */
    padding: 3 10 3 10px;
    text-align:right;
    border-top: #F2B88C 1px solid;
}

div#cuerpo a:link { color: #666666;text-decoration: none; 	font-weight: bold;}
div#cuerpo a:visited { color: #666666;text-decoration: none;	font-weight: bold; }
div#cuerpo a:hover { color: #666666;text-decoration: none;	font-weight: bold; }

table#grid{
    width: 90%;
    background-color:#000000;
    margin-left: auto;
    margin-right: auto;
    font-size:10px;
}
#grid .cabecera{
    background-color:#009999;
    color:#ffffff;
    /*background-color:#FFB000;*/
    /*background-color:#99ff99;*/
    font-weight: bold;
    text-align: center;
    font-variant: small-caps;
}

#grid tr.pietabla , #grid .pietabla a, #grid tr.pietabla span{
    font-weight:normal;
    text-align: center;
    font-size:9px;
    background-color:#f0f0f0;
    color:black;    
    /*background-color:#FFB000;*/
    /*background-color:#99ff99;*/
    /*font-variant: small-caps; */
}

#grid tr.filas{
    background-color:#FFFFFF;
}

#grid tr.filas:hover{
    background-color:lightyellow;    
}

#grid tr td{
    padding: 0 2 0 2px;
}
td{
    font-size:12px;
    font-family : Verdana;
}

.titulo_maestro{
    margin-left: 10px;
    /*color: #C82619;*/
    color: rgb(73,73,73);
    font-size: 12px;
    font-family: Verdana;
    font-weight: bold;
    text-align:left;
}

.titulo_sistema{
    margin-left: 18px;
    /*color: #C82619;*/
    color: rgb(73,73,73);
    font-size: 18px;
    font-family: Verdana;
    font-weight: bold;
    text-align:left;
}

div#msj {
    margin-left:30%;
    margin-right:30%;
    border:1px solid #000000; /*#C82619;*/
    padding:10px;
    background-color: #ffffff;
    text-align:center;
    /*color: #C82619;*/
    color: #000000;
    font-weight: bold;
    font: 12px/18px Verdana;
}
div#msj_login {
    margin-left:30%;
    margin-right:30%;
    margin-bottom:20px;
    padding:10px;
    text-align:center;
    /*color: #C82619;*/
    color:#000000;
    font-weight: bold;
    font: 12px/18px Verdana;
}
.errormsg{
    /*color:#C82619;*/
    color:#000000;
    font-size : 12px;
    font-family :Verdana;
    font-weight: bold;
}
.titulo{
    color:#000000;
    font-size : 11px;
    font-family : Verdana;
    font-weight: bold;
}

select#busca_proveedores   {
    width:460px;
}

div#controlMenu {
    position:static;

}

#cargando {
    position:fixed;
    left:16px;
    top:2px;
    z-index:100;
    border: 1.5px solid black;
    padding: 5px 15px 5px 25px;
    background:lightyellow;
    font-family:arial;
    font-size: 11px;
    font-weight: bold;
    /*filter:alpha(opacity=95);
    -moz-opacity: 0.95;
    opacity: 0.95;*/
}
#cargando img {
    position:fixed;
    left:19px;
    top:6px;
}

#controlMenu img {
    position:fixed;
    top:2px;
    left:0px;
}

input[readonly] {
    background-color:inactivecaption;

}