/*Documento CSS */

option {}

select {
	color: #666666;
	font-family: verdana;
	font-size: 10px;
	border:1px solid #006666; /*#dc9792*/
}

input {
	color: #666666;
	font-family: verdana;
	font-size: 10px;
	border:1px solid #006666; /*#dc9792*/
}

textarea {
	color: #666666;
	font-family: verdana;
	font-size: 10px;
	border:1px solid #006666; /*#dc9792*/
}

div#formulario{
	/*border: #C82619 1px solid;*/
	border: #000000 1px solid;
	padding:10px;
	margin-top:10px;

	margin-left: 5px; 
/*	margin-right: auto; */
	width: 800px; /* Anteriormente 750px */
	font-size:10px;
	font-family : Arial, Helvetica, sans-serif;
	position: relative;
}

div#formulario td{
	font-size:10px;
	font-family : Arial, Helvetica, sans-serif;
}

fieldset#buscador{
	margin-left: 5px; 
/*	margin-right: auto; */
	width: 805px; /*anteriorment 754px*/
	position: relative;
	border: #000000 1px solid;
	/*border:1px solid #C82619;*/
}

.campoForm {
	border:1px solid #006666;/*#dc9792*/
	padding-left:5px;
	background-color: #ffffff;
	color: black;
	font-weight: bold;
}

.campoFecha {
	width: 80px;
}

.textDesc {
	width: 300px;
}

.nrodoc {
	width: 110px;
}

.iva {
	width: 30px;
	text-align: center;
}

.monto{
	width: 110px;
	text-align: right;
}

.minimonto{
	width: 85px;
	text-align: right;
}


.nrofac {
	width: 70px;
}

div#formulario_popup{
	border: #C82619 1px solid;
	padding:10px;
	margin-top:10px;

	margin-left: 5px; 
/*	margin-right: auto; */
	width: 500px;
	font-size:10px;
	font-family : Arial, Helvetica, sans-serif;
	position: relative;
}
