<link rel="STYLESHEET" type="text/css" href="dhtmlx/dhtmlxgrid/codebase/dhtmlxgrid.css">
<link rel="stylesheet" type="text/css" href="dhtmlx/dhtmlxgrid/codebase/skins/dhtmlxgrid_dhx_skyblue.css">
<link rel="STYLESHEET" type="text/css" href="dhtmlx/dhtmlxgrid/dhtmlxCalendar/codebase/dhtmlxcalendar.css">
<script  src="js/prototype.js"></script>
<script  src="dhtmlx/dhtmlxgrid/codebase/dhtmlxcommon.js"></script>
<script  src="dhtmlx/dhtmlxgrid/codebase/dhtmlxgrid.js"></script>        
<script  src="dhtmlx/dhtmlxgrid/codebase/dhtmlxgridcell.js"></script>    
<script  src="dhtmlx/dhtmlxgrid/dhtmlxCalendar/codebase/dhtmlxcalendar.js"></script>    
<script  src="dhtmlx/dhtmlxgrid/codebase/excells/dhtmlxgrid_excell_dhxcalendar.js"></script>
<link rel="STYLESHEET" type="text/css" href="../../../dhtmlxCalendar/codebase/skins/dhtmlxcalendar_yahoolike.css">
 
 
<div id="gridbox" style="width:503px;height:120px;background-color:white;"></div>
<script>

mygrid = new dhtmlXGridObject('gridbox');
mygrid.setImagePath("dhtmlx/dhtmlxgrid/codebase/imgs/");
mygrid.setHeader("Name,Date of Birth, First Book Published");
mygrid.setInitWidths("*,100,100");
mygrid.setColAlign("left,center,center");
mygrid.setColTypes("ed,dhxCalendar,dhxCalendarA");
mygrid.setColSorting("str,date,date");
mygrid.setSkin("dhx_skyblue");
mygrid.init();
mygrid.loadXML("dhtmlxcommon/grid_dates.xml");

</script>


