<form name="form1" id="form1" method="post">
    <table border="0" width="100%" align="center">
        <? if($objeto->id){ ?>
        <tr>
            <td>N&ordm; de Documento:</td>
            <td colspan="2">
                <input type="text" name="id" id="id" value="<?=$objeto->id?>" />
            </td>
            <td width="87" align="right">
                <span style="text-align:right">Fecha:</span>
            </td>
            <td>
                <input value="<?=empty($objeto->fecha) ? date('d/m/Y') : muestrafecha($objeto->fecha)?>" readonly name="fecha" id="fecha" size="12" type="text" />
            </td>
        </tr>
        <? } ?>

        <td>A&ntilde;o:</td>
        <td colspan="2">
            <input value="<?=$objeto->ano?>" name="ano" style="width:50px" type="text" readonly />
        </td>
        <td style="text-align:right">Estado:</td>
        <td>

            <input type="status" id="status" style="width:250px" value="<?=$objeto->nom_status?>" readonly />

        </td>
        </tr>

    </table>
    <table border="0" width="100%" align="center">
        <tr>
            <td colspan="3"><hr /></td>
        </tr>
        <tr>
            <td colspan="3"> Seleccione el Proveedor: &nbsp;
                <? echo helpers::superCombo($conn,"SELECT DISTINCT puser.proveedores.nombre AS descripcion, puser.proveedores_requisicion.id_proveedor AS id FROM puser.proveedores INNER JOIN puser.proveedores_requisicion ON puser.proveedores_requisicion.id_proveedor = puser.proveedores.id WHERE puser.proveedores_requisicion.id_requisicion = '".$objeto->id."' ",'','proveedores','proveedores','width:280px','buscaProductosProveedor(this.value);'); ?>
            </td>
        </tr>
         <tr id="tr_fechacotiza" style="display:none;">
            <td align="left" style="width:124px">
                Fecha de Cotizacion:&nbsp;
            </td>
            <td >
                <input size="12" readonly type="text" name="fechacotiza" id="fechacotiza" onchange="validarFechaCotizacion(this);"/>
            </td>
            <td style="width:73%;text-align:left">
                <a href="#" id="boton_fechacotiza" onclick="return false;">
                    <img border="0" src="images/calendarA.png" width="20" height="20" alt=""/>
                </a>
                <script type="text/javascript">
                    new Zapatec.Calendar.setup({
                        firstDay          : 1,
                        weekNumbers       : true,
                        showOthers        : false,
                        showsTime         : false,
                        timeFormat        : "24",
                        step              : 2,
                        range             : [1900.01, 2999.12],
                        electric          : false,
                        singleClick       : true,
                        inputField        : "fechacotiza",
                        button            : "boton_fechacotiza",
                        ifFormat          : "%d/%m/%Y",
                        daFormat          : "%Y/%m/%d",
                        align             : "Br"
                    });
                </script>
            </td>
        </tr>
    </table>
    <!--<div id="partpreDiv" style="display:inline">
    <table border="0" width="100%" align="center">
    <tr>
	<td colspan="3"><span class="titulo">Seleccione sus Productos :</span></td>
    </tr>
    <tr>
	<td>Categoria</td>
	<td>Producto</td>
	<td>Cantidad</td>
    </tr>
    <tr height="15px">
	<td style="width:33%">
		<table width="100%" cellpadding="0" cellspacing="0" border="0s">
			<tr>
				<td width="50%">
					<div id="divcombocat" style="width:100%">
						<select style="width:70%">
							<option>Seleccione</option>
						</select>	
					</div>
				</td>
				<td>
					<div id="cargador_categorias" style="display:none" align="left">
						&nbsp;<img src="images/loading2.gif" />Cargando...
					</div>
				</td>
			</tr>
		</table>
	</td>
	<td style="width:34%">
		<table width="100%" cellpadding="0" cellspacing="0" border="0s">
			<tr>
				<td width="50%">
					<div id="divcomboprod">
						<select style="width:70%">
							<option>Seleccione</option>
						</select>
					</div>
				</td>
				<td>
					<div id="cargador_partidas" style="display:none" align="left">
						&nbsp;<img src="images/loading2.gif" />Cargando...
					</div>
				</td>
			</tr>
		</table>
	</td>
	<td style="width:33%">
		<input type="text" name="cantidad" id="cantidad" align="right" style="text-align:right" value="0" />
	</td>
    </tr>
    <tr>
	<td colspan=2 align="left"><input type="button" name="b_agregar_co" onClick="traePartidasPorProductos();" value="Agregar">
	<input type="hidden" name="partidas_presupuestarias" id="partidas_presupuestarias" />
	<input type="hidden" name="total_prod" id="total_prod" />
	<input type="hidden" name="disponible" id="disponible">
	<input type="hidden" name="idParCat" id="idParCat">
	<input type="hidden" name="puedo" id="puedo" />
	<input type="hidden" name="precio" id="precio" />
	</td>
	<td align="right"><input type="button" name="b_eliminar_co" onClick="EliminarRE()" value="Eliminar"></td>	
    </tr>
    <tr>
	<td colspan="3"><hr></td>
    </tr>
    </table>
    </div>-->
    <table border="0" width="100%" align="center">

        <tr>
            <td colspan="3" align="center">
                <div id="gridboxre" style=" width:610px; height:150px; z-index:0; display:block" class="gridbox" align="center"></div>
            </td>
        </tr>
        <tr>
            <td align="left"><input type="hidden" name="cotizacion" id="cotizacion"></td>
            <td align="right">Total cotizacion: <input type="text" name="totalC" id="totalC" style="text-align:right" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
    </table>


    <input style="float:right; margin: 5px" name="botonRecibir" type="button" value="Guardar" onClick="Guardar();" />
    <input name="id" type="hidden" value="<?=$objeto->id?>" />
    <input name="accion" type="hidden" value="Guardar"  id="accion"/>
    <input type="hidden" name="status" id="status" value="<?=$objeto->status?>" />
    <input type="hidden" name="nrodoc" id="nrodoc" value="<?=$objeto->nrodoc?>" />

    <span style="position:absolute;top:4px;right:5px;cursor:pointer;">
        <img onClick="close_div();" src="images/close_div.gif" title="Cerrar" /></span>
    <br/>
</form>
<p class="errormsg">(*) Campo requerido</p>
<script type="text/javascript">
    buildGridre();
    //CargarGrid();
    //sumaTotal();
    function buildGridre(){
        //set grid parameters
        mygridre = new dhtmlXGridObject('gridboxre');
        mygridre.selMultiRows = true;
        mygridre.setImagePath("js/Grid/imgs/");
        mygridre.setHeader("Producto, Precio Unitario, IVA, Cantidad, Total");
        mygridre.setInitWidths("280,90,70,70,90");
        mygridre.setColAlign("left,right,center,right,right");
        mygridre.setColTypes("coro,ed,coro,ro,ro");
        mygridre.setColSorting("str,int,int,int,int");
        mygridre.setColumnColor("white,white,white,white,white");
        mygridre.rowsBufferOutSize = 0;
        //mygridre.setOnEnterPressedHandler(generaTotal);
        mygridre.setOnEditCellHandler(generaTotal);
        mygridre.delim=';';
        mygridre.setMultiLine(false);
        mygridre.selmultirows="true";
        <?
        $prod = new productos;
        $objcp = $prod->get_all($conn);
        echo helpers::combogrid($objcp, 0, 'id' , 'descripcion', 'Seleccione', 'mygridre' );
        $iva = new iva;
        $objiva = $iva->iva_anio($conn, $anoCurso);
        echo helpers::combogrid_iva($objiva, 2, 'porc' , 'descripcion', 'Seleccione', 'mygridre' );
        ?>
            /*<? //$cp = new categorias_programaticas;
                //$obj = $cp->get_all($conn);
        ?>
        <? //=helpers::combogrid($obj, 1, 'id' , 'descripcion', 'Seleccione', 'mygridre' )?>
	
        <? //$pp = new partidas_presupuestarias;
                //$obj = $pp->get_all($conn);
        ?>
        <? //=helpers::combogrid($obj, 2, 'id' , 'descripcion', 'Seleccione', 'mygridre' )?>*/
        //mygridpp.setOnEnterPressedHandler(calcularMontoCausado);
        //mygridpp.setOnEditCellHandler(validarMontoPP);
	
        //INICIA GRID//
        mygridre.init();
	
    }


</script>