<?
$AnalisisCotizacion = new analisis_cotizacion;
?>
<form name="form1" method="post">
<table border="0" width="100%" align="center">
<? if($objeto->id){ ?>
<tr>
	<td width="88">N&ordm; de Documento:</td>
	<td width="310"><input type="text" name="id" id="id" value="<?=$objeto->id?>" readonly /></td>
	<td width="87" align="right"><span style="text-align:right">Fecha:</span></td>
	<td colspan="3">
	<input id="fecha" value="<?=empty($objeto->fecha) ? date("d/m/Y") : muestrafecha($objeto->fecha)?>" readonly name="fecha" size="12 " type="text" />
        <a href="#" id="boton_fecha" onclick="return false;">
								<img border="0" src="images/calendarA.png" width="20" height="20" />
							</a>
						<script type="text/javascript">
							new Zapatec.Calendar.setup({
								firstDay          : 1,
								weekNumbers       : true,
								showOthers        : false,
								showsTime         : false,
								timeFormat        : "24",
								step              : 2,
								range             : [1900.01, 2999.12],
								electric          : false,
								singleClick       : true,
								inputField        : "fecha",
								button            : "boton_fecha",
								ifFormat          : "%d/%m/%Y",
								daFormat          : "%Y/%m/%d",
								align             : "Br"
							 });
						</script>
	</td>

</tr>
<? } ?>
<tr>
	<td>A&ntilde;o:</td>
	<td style="width:310px">
		<input value="<?=$objeto->ano?>" name="ano" style="width:50px" type="text" readonly />
	</td>
	<td style="text-align:right">Status:</td>
	<td colspan="3">
		<input type="status" id="status"  value="<?=$objeto->nom_status?>" readonly />
	</td>
</tr>

<tr>
	<td>Documento de Compromiso:</td>
	<td style="width:310px">
            <select name="ddl_tipo_doc_com" id="ddl_tipo_doc_com">
                <option value="AY">Ayuda</option>
                <option value="DG" selected>Documento General</option>
                <option value="OC">Orden de Compra</option>
                <option value="OS">Orden de Servicio</option>
                <option value="OT">Orden de Trabajo</option>
                <option value="CS">Contrato de Servicio</option>
            </select>
	</td>
        <td style="text-align:right">Proveedor Recomendado:</td>
	<td colspan="3">
            <?php
                $q= "SELECT DISTINCT puser.proveedores_requisicion.id_proveedor,puser.proveedores.nombre FROM puser.proveedores_requisicion ";
		$q.="INNER JOIN puser.proveedores ON puser.proveedores_requisicion.id_proveedor = puser.proveedores.id ";
		$q.="WHERE puser.proveedores_requisicion.id_requisicion = '$objeto->id'";
                //die($q);
		echo helpers::superComboSQL($conn,'',$objeto->pro_rec,'pro_rec','pro_rec','','','id_proveedor',
                                            'nombre',false,'nombre',"$q",'','');
             ?>
	</td>
</tr>

</table>
<table border="0" width="100%" align="center">
<tr>
	<td colspan="3"><hr /></td>
</tr>
<tr>
	<td>Cotizaciones por Proveedor</td>
</tr>
</table>

<table border="0" width="100%" align="center">

<tr>
	<td colspan="3" align="center">
		<? $oAnaCoti = $AnalisisCotizacion->getProveedoresporRequisicion($conn, $objeto->id); 
			foreach ($oAnaCoti as $provee){
			$total_cotizacion = 0;
			?>
		<table width="600px" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td colspan="2"><? echo $provee->nombre ?></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>Producto</td>
				<td align="center">Costo x Cantidad</td>
			</tr>
			<tr>
				<td colspan="3"><hr></td>
			</tr>
				<? $oAnaCoti = $AnalisisCotizacion->getArticulosporProveedor($conn, $objeto->id, $provee->id_proveedor); 
				foreach ($oAnaCoti as $productos){
				?>
				<tr>
					<td width="30px" align="right"><li></td>
					<td width="450px"><? echo $productos->descripcion?></td>
					<td width="120px" align="right"><? echo muestraFloat($productos->costo*$productos->cantidad)?></td>
				</tr>
				<? $total_cotizacion += $productos->costo*$productos->cantidad;
				 }?>
				 <tr>
				 	<td colspan="2"></td>
					<td><hr></td>
				 </tr>
				<tr>
					<td>&nbsp;</td>
					<td align="right">TOTAL:</td>
					<td align="right"><? echo muestraFloat($total_cotizacion); ?></td>
				</tr>
				<tr>
					<td colspan="2" >&nbsp;</td>
				</tr>
		</table>
		<? } ?>

	</td>
</tr>
</table>


<?php// if($objeto->status == '07'){?>
  <input style="float:right; margin: 5px" name="botonAnalizar" id="botonAnalizar" type="submit" value="Analizar" />

<?//} echo $objeto->status; ?>

<input name="id" type="hidden" value="<?=$objeto->id?>" />
<input name="accion" type="hidden" value="Analizar"  id="accion" />
<input type="hidden" name="status" id="status" value="<?=$objeto->status?>" />
<input type="hidden" name="nrodoc" id="nrodoc" value="<?=$objeto->nrodoc?>" />
<input type="hidden" name="uniEje" id="uniEje" value="<?=$objeto->id_unidad_ejecutora?>" />
<input type="hidden" name="motivo" id="motivo" value="<?=$objeto->motivo?>" />


<span style="position:absolute;top:4px;right:5px;cursor:pointer;">
<img onClick="close_div_compras();" src="images/close_div.gif" /></span>
<br />
</form>
<p class="errormsg">(*) Campo requerido</p>
<script type="text/javascript">




</script>