<? if(empty($objeto->status))
 		$estado = 'Por Registrar';
   else if($objeto->status==1)
      	$estado = 'Registrada'; 
   else
   		$estado = 'Aprobada'; ?> 

<form name="form1" id="form1" action="" method="post">
	<table width="600" border="0">
            <tr>
			<td>Tipo de Caja:</td>
                        <td>
                            <?php
                            if(isset($objeto->tipo_caja)){
                                $sololectura = 'disabled';


                            }else{
                                $sololectura = '';
                            }
                            if($objeto->tipo_caja == 0){
                               echo '<input type="radio" name="tipocaja" id="tipocaja" value="0" checked="checked" '.$sololectura.' />Tributos';
                               echo '<input type="hidden" name="tipocaja" id="tipocaja" value="0"/>';
                               echo '<input type="radio" name="tipocaja" id="tipocaja1" value="1" '.$sololectura.' />Servicios Municipales';
                             }else{
                               echo '<input type="radio" name="tipocaja" id="tipocaja" value="0" '.$sololectura.' />Tributos';
                               echo ' <input type="hidden" name="tipocaja" id="tipocaja1" value="1"/>';
                               echo '<input type="radio" name="tipocaja" id="tipocaja1" value="1" checked="checked" '.$sololectura.' />Servicios Municipales';
                             }
                            ?>


                        </td>
		</tr>
		<tr>
			<td>Fecha de Corte:</td>
			<td>
                            <input style="width:100px" type="text" name="fecha" id="fecha" readonly value="<?=(empty($objeto->id)) ? $fecha:muestraFecha($objeto->fecha)?>"  maxlength="10" onChange="buscaIngresos(this.value,'<?=$objeto->id?>');" />
                                <?php
                                    if(!isset($objeto->id)){
                                ?>
				<a href="#" id="boton_fecha" onclick="return false;" >
					<img border="0"  alt="Seleccionar Fecha" src="images/calendarA.png" width="20" height="20" />
				</a>  
				<script type="text/javascript">
					new Zapatec.Calendar.setup({
						firstDay          : 1,
						weekNumbers       : true,
						showOthers        : false,
						showsTime         : false,
						timeFormat        : "24",
						step              : 2,
						range             : [1900.01, 2999.12],
						electric          : false,
						singleClick       : true,
						inputField        : "fecha",
						button            : "boton_fecha",
						ifFormat          : "%d/%m/%Y",
						daFormat          : "%Y-%m-%d",
						align             : "Br"
					 });
				</script>
                                <?php
                                }
                                ?>
				<span class="errormsg" id="error_fecha">*</span>
				<?=$validator->show("error_fecha");?>


				<!--input type="hidden" id="fecha2" name="fecha2"/-->
				<input type="hidden" name="id" id="id" value="<?=$objeto->id?>"/> 	
			</td>
		</tr>
                
		<tr>
			<td>Estatus:</td>
			<td>
                            <input type="text" name="nomStatus" id="nomStatus" readonly value="<?=$estado?>" />
                <input type="hidden" name="status" id="status" value="<?= !empty($objeto->status) ? $objeto->status : '0' ?>"/>		
			</td>
		</tr>
        <tr>
			<td class="td_description">Descripci&oacute;n:</td>
			 <td ><textarea name="descripcion" id="descripcion" rows="5" cols="35" ><?=$objeto->descripcion?></textarea>
			<span class="errormsg" id="error_descripcion">*</span>
							<?=$validator->show("error_descripcion")?></td>
		</tr>
        <tr>
				<td>Cuenta:</td>
          		<td>
					<input type="text" name="txttipo_ingreso" id="txttipo_ingreso" style="width:150px " />
					<input type="hidden" name="tipo_ingreso" id="tipo_ingreso" />
					<span onclick="traeTiposIngreso(2);" style="cursor:pointer; display:inline" id="btipos">
						<img src="images/lupa.gif" alt="Lupa" width="19" height="17" /> Buscar
					</span>
				
				</td>
                <td>Monto:
                    <input type="text" name="montoip" id="montoip" style="text-align:right" onkeypress="return(formatoNumero(this,event));" value="0,00" />
                </td>
                	
                <td>
                		
                </td>
		</tr>
        <tr>
            <td colspan=5 align="left"><input type="button" name="b_agregar" onclick="AgregarCS()" value="Agregar"></td>
            <td align="right"><input type="button" name="b_eliminar" onclick="Eliminar()" value="Eliminar"></td>	
        </tr>
		
	</table>
	
	<input type="hidden" name="json_det" id="json_det" widgetid="json_det" value=""/>
	<div align="center" id="gridbox" width="100%" height="250px"></div>
	
	<span style="position:absolute;top:4px;right:5px;cursor:pointer;">
	<img onClick="close_div();" src="images/close_div.gif" title="Cerrar" /></span>
	<br /> 
	

		<tr>
			<td>Total Debe: </td>
			<td><input type="text" name="monto_debe" id="monto_debe" value="<?= muestraFloat($objeto->monto_debe); ?>" readonly style="text-align:right" /></td>
            <td>Total Haber: </td>
			<td><input type="text" name="monto_haber" id="monto_haber" value="<?= muestraFloat($objeto->monto_haber); ?>" readonly style="text-align:right" /></td>
            <td>Diferencia: </td>
			<td><input type="text" name="monto_diferencia" id="monto_diferencia" value="<?= $objeto->monto_debe-$objeto->monto_haber; ?>" readonly style="text-align:right" /></td>                        
		</tr>
	<br />
	
	<div style="width:100%; text-align:right">
		
		<input type="hidden" name="accion" value="<?=$boton?>"  id="accion"/>
        <? if(empty($objeto->status)){ ?>
        	<input name="accion" type="button" value="<?=$boton?>" onclick="GuardarDet(); "  />
       <? }else if($objeto->status == 1){ ?>
       		<input name="accion" type="button" value="<?=$boton?>" onclick="GuardarDet(); "  />
       		<input  name="botonAprobar" type="button" value="Cerrar" onclick="actapr(this.value);" />
        <? } else if(($objeto->status == 2)) {   ?> 
			<input  name="botonAnular" type="button" value="Anular" onclick="actapr(this.value);" />
        <? } ?>
	</div>
        <input type="hidden" name="valor_tipo_caja" id="valor_tipo_caja" value="0" />
</form>


<script type="text/javascript">
var elementoFecha = document.getElementById("fecha");

Event.observe('tipocaja', "click", function () {
        valor_tipo_caja = 0;
    });

Event.observe('tipocaja1', "click", function () {
        valor_tipo_caja = 1;
    });

buildGrid();

CargarGrid('<?=$objeto->id?>',elementoFecha.value,'<?=$objeto->tipo_caja?>');
	function buildGrid(){
            //set grid parameters
            mygrid = new dhtmlXGridObject('gridbox');
            mygrid.selMultiRows = true;
            mygrid.setImagePath("dhtmlx/dhtmlxgrid/codebase/imgs/");
            mygrid.setSkin("dhx_skyblue");
            mygrid.setHeader("Tipo de Ingreso,Nro Documento,Fecha,Monto,Debe/Haber");
            //mygrid.setInitWidths("250,120,100,150,70");
            mygrid.setInitWidthsP("35,25,15,13,10");
            mygrid.setColAlign("left,center,center,right,right");
            mygrid.setColTypes("coro,ed,ed,ed,coro");
            mygrid.setColSorting("str,str,str,int,int");
            mygrid.setColumnColor("white,white,white,white,white");
            mygrid.rowsBufferOutSize = 0;
            mygrid.delim=';';
            mygrid.attachEvent("OnEnter", doOnEnter);
            //mygrid.setOnEnterPressedHandler(doOnCellEdit);
            mygrid.setMultiLine(false);
            mygrid.selmultirows="true";
            <? $prod = new tipo_ingreso;
                    $objcp = $prod->get_all($conn);
            ?>
            <?=helpers::combogrid($objcp, 0, 'id' , 'descripcion', 'Seleccione', 'mygrid' )?>
            //mygrid.getCombo(2).put('0','Seleccione');
            mygrid.getCombo(4).put('1','Debe');
            mygrid.getCombo(4).put('2','Haber');
            //INICIA GRID//
            mygrid.setEditable(true);
            mygrid.init();
	
}
	
        function doOnEnter(){
           //alert('por aqui'); 
           sumaTotal(1);
           sumaTotal(2);
           sumaTotal(3);
        }
        
	function CargarGrid(id,fecha,tipo)
	{
		
		mygrid.clearSelection();
		mygrid.clearAll();

                if(id == '' && fecha == '' && tipo=='')
                   return false;
		var url = 'json.php';
		var pars = 'op=detalle_ingresos&id='+ id+'&fecha='+fecha+'&tipo='+tipo+'&ms='+new Date().getTime();
		var Request = new Ajax.Request
		(
			url,
			{
				method: 'get',
				parameters: pars,
				onLoading:function(request){Element.show('cargando');}, 
				onComplete:function(request)
				{
					var JsonData = eval( '(' + request.responseText + ')');
					if(JsonData)
					{
						for(var j=0;j<JsonData.length;j++)
						{
							monto = (JsonData[j].monto=='0') ? '0,00':muestraFloat(JsonData[j].monto);
							fecha = (JsonData[j].fecha==null) ? '':mostrarFecha(JsonData[j].fecha);
							mygrid.addRow(i,JsonData[j].id_tipo_pago+";"+JsonData[j].nrodoc+";"+fecha+";"+monto+";"+JsonData[j].origen);
                                                        if(JsonData[j].nrodoc != 'AC')
                                                            mygrid.lockRow(i,true);
							i++;
							
						}
						
						
					}
					sumaTotal(1);
                                        sumaTotal(2);
                                        sumaTotal(3);
					Element.hide('cargando');
				}
			}
		);  
	} 
</script>

