<?php 
function compara_checked($campo, $valor){
	if($campo==$valor){
	echo "checked";
	}
}
?>
<form name="form1" method="post">
<table width="600" border="0">
  <tr>
    <td width="100">Codigo </td>
    <td ><input type="text" name="codigo" value="<?=$objeto->codigo?>" />
      <span class="errormsg" id="error_codigo">*</span>
      <?=$validator->show("error_codigo")?></td>
  </tr>
  <tr>
    <td>Descripci&oacute;n:</td>
    <td><input type="text" name="descripcion" value="<?=$objeto->descripcion?>" onchange="this.value = this.value.toUpperCase();" />
      <span class="errormsg" id="error_desc">*</span>
      <?=$validator->show("error_desc")?>
  </tr>
  <tr>
    <td>Nombre Corto: </td>
    <td><input type="text" name="nombre_corto" value="<?=$objeto->nombre_corto?>" onchange="this.value = this.value.toUpperCase();">
	<span class="errormsg" id="error_nombre">*</span>
		<?=$validator->show("error_nombre")?>    </td>
  </tr>
  <tr>
    <td>Activo:</td>
    <td><input type="checkbox" name="status" value="1" <?=compara_checked($objeto->status, 1)?> ></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="right"><input name="accion" type="button" value="<?=$boton?>" onclick="<?=$validator->validate() ?>" /></td>
  </tr>
</table>
<input name="id" type="hidden" value="<?=$objeto->id?>" />
<input name="accion" type="hidden" value="<?=$boton?>" /> 
<span style="position:absolute;top:4px;right:5px;cursor:pointer;">
<img onClick="close_div();" src="images/close_div.gif" title="Cerrar" /></span>
</form>
<p class="errormsg">(*) Campo requerido</p>
