<form name="form1" method="post">
<table width="600" border="0">
  <tr>
    <td width="100">Codigo:</td>
    <td colspan="5" >
		<input type="text" name="codigo" value="<?=$objeto->int_cod ? $objeto->car_cod : getCorrelativo($conn, 'car_cod', 'rrhh.cargo', 'int_cod')?>">
		<span class="errormsg" id="error_codigo">*</span>
		<?=$validator->show("error_codigo")?>
   </td>
  </tr>
  <tr>
    <td>Descripcion:</td>
    <td colspan="5" >
		<input type="text" name="nombre" style="width:315px" value="<?=$objeto->car_nom?>">
		<span class="errormsg" id="error_desc">*</span>
		<?=$validator->show("error_desc")?>
	</td>
  </tr>
  <tr>
	<td>Sueldo Mensual:</td>
	<td colspan="5" >
		<input type="text" name="sueldo" id="sueldo" value="<?=empty($objeto->car_sueldo) ? '0,00' : $objeto->car_sueldo?>" >
		<span class="errormsg" id="error_sueldo">*</span>
		<?=$validator->show("error_sueldo")?>
	</td>
  </tr>
  <tr> <!-- $objeto->car_ord-->
	<td>Orden:</td>
	<td colspan="5"><div id="gridbox" width="500" height="250" class="gridbox"></div></td>
  </tr>
  <tr>
    <td>Cantidad Maxima:</td>
    <td colspan="5">
		<input type="text" name="cantidad" value="<?=empty($objeto->car_cant) ? '0' : $objeto->car_cant?>">
		<span class="errormsg" id="error_cantidad">*</span>
		<?=$validator->show("error_cantidad")?>
	</td>
  </tr>
  <tr>
    <td width="100">Cantidad Activos:</td>
    <td>
		<input type="text" name="actual" value="<?=empty($objeto->car_actuales) ? '0' : $objeto->car_actuales?>" disabled>
	</td>
	<td width="100">Cantidad Vacantes:</td>
    <td>
		<input type="text" name="vacante" value="<?=empty($objeto->car_vac) ? '0' : $objeto->car_vac?>" disabled>
	</td>
	<td width="100">Cantidad Disponible:</td>
    <td>
		<input type="text" name="disponible" value="<?=empty($objeto->car_cant) ? 'Faltan Datos' : $objeto->car_cant - ($objeto->car_actuales + $objeto->car_vac)?>" disabled>
	</td>
  </tr>
  <tr>
    <td>Estatus:</td>
    <td colspan="6" >
		<SELECT NAME="estatus" id="estatus">
			<OPTION <?=($objeto->car_estatus=='0') ? "selected" : "" ?> value='0'>Activo</OPTION>
			<OPTION <?=($objeto->car_estatus=='1') ? "selected" : "" ?> value='1'>Inactivo</OPTION>
		</SELECT>
	</td>
  </tr>
</table>
<input style="float:right"  name="accion" type="button" value="<?=$boton?>" onclick="CambiarSueldoTrabajador('<?=empty($objeto->car_sueldo) ? '0,00' : $objeto->car_sueldo?>',$('sueldo').value,this.value,'<?=$objeto->int_cod?>');Guardar()" />
<input id="int_cod" name="int_cod" type="hidden" value="<?=$objeto->int_cod ? $objeto->int_cod : -1 ?>" />
<input name="departamentos" id="departamentos" type="hidden" />
<input name="accion" type="hidden" value="<?=$boton?>" /> 
<span style="position:absolute;top:4px;right:5px;cursor:pointer;">
<img onClick="close_div();" src="images/close_div.gif" title="Cerrar" /></span>
</form>
<p class="errormsg">(*) Campo requerido</p>
<script type="text/javascript">
buildGrid();
CargarGrid()
function buildGrid(){
	//set grid parameters
	mygrid = new dhtmlXGridObject('gridbox');
	mygrid.selMultiRows = true;
	mygrid.setImagePath("js/grid/imgs/");
	mygrid.setHeader("Codigo,Departamento,Orden");
	mygrid.setInitWidths("50,400,50")
	mygrid.setColAlign("center,left,center")
	mygrid.setColTypes("ro,ro,ed");
	mygrid.setColSorting("int,str,int")
	mygrid.setColumnColor("white,white,white")
	mygrid.rowsBufferOutSize = 0;
	mygrid.setMultiLine(false)
	mygrid.selmultirows="true"
	mygrid.delim=";";
	mygrid.init();
}
function CargarGrid(){
var JsonAux;
	mygrid.clearSelection();
	mygrid.clearAll();
	JsonAux={"Cargo":$('int_cod').value,"Forma":9,"Accion":0};
	var url = 'OperarGrid.php';
	var pars = 'JsonEnv=' + JsonAux.toJSONString();
	var Request = new Ajax.Request(
		url,
		{
			method: 'post',
			parameters: pars,
	//		asynchronous:true, 
			onComplete:function(request){
				var JsonRec = eval( '(' + request.responseText + ')');
				if(JsonRec){
					for(var i=0;i<JsonRec.length;i++){
						mygrid.addRow(JsonRec[i]['DI'],JsonRec[i]['DC']+";"+JsonRec[i]['DN']+";"+JsonRec[i]['V'],i);
					}
				}
			}
		}
	); 
} 
</script>
