<form name="form1" method="post">
<table width="310" border="0">
  <tr>
    <td width="90">Descripci&oacute;n:</td>
    <td width="204"><input type="text" name="descripcion" style="width:180px" value="<?=$objeto->descripcion?>">
	<span class="errormsg" id="error_desc">*</span>
		<?=$validator->show("error_desc")?>   </td>
  </tr>
  <tr>
    <td>Observacion:</td>
    <td>
		<textarea name="observacion" style="width:180px; height:80px"><?=$objeto->observacion?></textarea> 
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input name="accion" type="button" value="<?=$boton?>" onclick="<?=$validator->validate() ?>" /></td>
  </tr>
</table>
<input name="id" type="hidden" value="<?=$objeto->id?>" />
<input name="accion" type="hidden" value="<?=$boton?>" /> 
<span style="position:absolute;top:4px;right:5px;cursor:pointer;">
<img onClick="close_div();" src="images/close_div.gif" title="Cerrar" /></span>
</form>
<p class="errormsg">(*) Campo requerido</p>
