<?
	if (empty($objeto->id))
	{
		$editable = true;
		$hoy = date('d/m/Y');
	}
?>
<form name="form1" id="form1" method="post">
	<span style="float:right;padding:2px;cursor:pointer;">
		<img onClick="close_div();" src="images/close_div.gif" title="Cerrar" />
	</span>
	<table width="100%" border="0">
		<tr>
			<td width="20%">Banco:</td>
			<td>
				<?=helpers::superComboSQL($conn,
												'',
												$objeto->cta_bancaria->banco->id,
												'bancos',
												'bancos',
												'',
												'traeCuentasBancarias(this.value, "nroCtas", 0)',
												'id',
												'descripcion',
												false,
												'descripcion',
												"SELECT * FROM public.banco",
												'',
												((!$editable) ? 'disabled':''));?>
				<span id="cargando_cuentas" style="display:none; font-size:11px"><img alt="Cargando" src="images/loading2.gif" /></span>
				<span class="errormsg" id="error_bancos">*</span>
				<?=$validator->show("error_bancos")?>
			</td>
		</tr>
		<tr>
			<td>Nro. Cuenta:</td>
			<td>
				<span id="nroCtas">
					<?
					if (!empty($objeto->id))
					{
					echo helpers::superCombo($conn,
													"SELECT A.id, (CASE WHEN B.descripcion is null THEN A.nro_cuenta ELSE A.nro_cuenta||' - '||B.descripcion END)  AS descripcion FROM finanzas.cuentas_bancarias AS A LEFT JOIN puser.clasificacion_cuenta AS B ON A.id_clasificacion_cuenta=B.id WHERE A.id_banco=".$objeto->cta_bancaria->banco->id,
													$objeto->id_cta_banc, 
													'nro_cuenta', 
													'nro_cuenta',
													'',
													'llamarSaldo(this.value)',
													'id',
													'descripcion',
													'',
													'',
													'disabled');
					}
					else
					{
					?>
						<select name="nro_cuenta" id="nro_cuenta">
							<option value="0">Seleccione</option>
						</select>
					<?
					}
					?>
				</span>
				<input type="hidden" name="id_cta_cont" id="id_cta_cont" />
				<span class="errormsg" id="error_nro_cuenta">*</span>
				<?=$validator->show("error_nro_cuenta")?>
			</td>
		</tr>
		<tr>
			<td>Fecha Desde:</td>
			<td style="width:150">
				<input style="width:100px"  type="text" name="fecha_desde" id="fecha_desde" onchange="if (validafecha(this)==-1){alert('Fecha Incorrecta'); this.value='';}else{traerSaldo(this.value,'D');}" value="<?=($editable) ? '':$objeto->fecha_desde?>" readonly />
				<!--a href="#" id="boton_fecha_desde" onclick="return false;" <?=(!$editable) ? 'style="display:none"':''?> >
					<img border="0" alt="Seleccionar Fecha" src="images/calendarA.png" width="20" height="20" />
				</a--> 
				<!--script type="text/javascript">
					new Zapatec.Calendar.setup
					({
						firstDay          : 1,
						weekNumbers       : true,
						showOthers        : false,
						showsTime         : false,
						timeFormat        : "24",
						step              : 2,
						range             : [1900.01, 2999.12],
						electric          : false,
						singleClick       : true,
						inputField        : "fecha_desde",
						button            : "boton_fecha_desde",
						ifFormat          : "%d/%m/%Y",
						daFormat          : "%Y/%m/%d",
						align             : "Br"
					});
				</script-->
				<!--span class="errormsg" id="error_fecha_desde">*</span-->
				<!--?=$validator->show("error_fecha_desde")?-->
			</td>
		</tr>
		<tr>
			<td>Fecha Hasta:</td>
			<td>
				<input style="width:100px"  type="text" name="fecha_hasta" id="fecha_hasta" onchange="if (validafecha(this)==-1){alert('Fecha Incorrecta'); this.value='';}else{traerSaldo(this.value,'H');}" value="<?=($editable) ? '':$objeto->fecha_hasta?>" readonly />
				<!--a href="#" id="boton_fecha_hasta" onclick="return false;" <?=(!$editable) ? 'style="display:none"':''?>>
					<img border="0" alt="Seleccionar Fecha" src="images/calendarA.png" width="20" height="20" />
				</a-->  
				<!--script type="text/javascript">
					new Zapatec.Calendar.setup
					({
						firstDay          : 1,
						weekNumbers       : true,
						showOthers        : false,
						showsTime         : false,
						timeFormat        : "24",
						step              : 2,
						range             : [1900.01, 2999.12],
						electric          : false,
						singleClick       : true,
						inputField        : "fecha_hasta",
						button            : "boton_fecha_hasta",
						ifFormat          : "%d/%m/%Y",
						daFormat          : "%Y/%m/%d",
						align             : "Br"
					});
				</script-->
				<!--span class="errormsg" id="error_fecha_hasta">*</span-->
				<!--?=$validator->show("error_fecha_hasta")?-->
			</td>
		</tr>
		<tr>
			<td>Fecha de Conciliaci&oacute;n:</td>
			<td>
				<input style="width:100px"  type="text" name="fecha_conc" id="fecha_conc" onchange="if (validafecha(this)==-1){alert('Fecha Incorrecta'); this.value='';}" value="<?=(!$editable) ? $objeto->fecha_conciliacion:$hoy?>" <?=(!$editable) ? 'readonly':''?> />
				<a href="#" id="boton_fecha_conc" onclick="return false;" <?=(!$editable) ? 'style="display:none"':''?>>
					<img border="0" alt="Seleccionar Fecha" src="images/calendarA.png" width="20" height="20" />
				</a>  
				<script type="text/javascript">
					new Zapatec.Calendar.setup
					({
						firstDay          : 1,
						weekNumbers       : true,
						showOthers        : false,
						showsTime         : false,
						timeFormat        : "24",
						step              : 2,
						range             : [1900.01, 2999.12],
						electric          : false,
						singleClick       : true,
						inputField        : "fecha_conc",
						button            : "boton_fecha_conc",
						ifFormat          : "%d/%m/%Y",
						daFormat          : "%Y/%m/%d",
						align             : "Br"
					});
				</script>
				<span class="errormsg" id="error_fecha_conc">*</span>
				<?=$validator->show("error_fecha_conc")?>
			</td>
		</tr>
		<tr>
			<td>Saldo inicial seg&uacute;n Banco:</td>
			<td>
				<input type="text" name="saldo_ini_ban" id="saldo_ini_ban" onkeydown="if (formatoNumero(this, event)){actualizarSaldoConc(this); return true;}else{return false;}" style="text-align:right;" value="<?=empty($objeto->id) ? '0,00':muestraFloat($objeto->saldo_inicial_banco)?>" <?=(!$editable) ? 'readonly':''?> />
				<span class="errormsg" id="error_saldo_ini_ban">*</span>
				<?=$validator->show("error_saldo_ini_ban")?>
			</td>
		</tr>
		<tr>
			<td>Saldo &Uacute;ltima Conciliaci&oacute;n:</td>
			<td><input type="text" name="saldo_ini_lib" id="saldo_ini_lib" onkeydown="return formatoNumero(this, event)" style="text-align:right;" value="<?=empty($objeto->id) ? '0,00':muestraFloat($objeto->saldo_inicial_libro)?>" readonly /></td>
		</tr>
		<tr>
			<td valign="top">Observaciones: </td>
			<td>
				<textarea rows="2" cols="30" id="descripcion" name="descripcion" <?=(!$editable) ? 'readonly':''?>><?=$objeto->descripcion?></textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2"><br /><div id="gridbox" width="725" height="150px"></div><br /></td>
		</tr>
	</table>
	<table width="100%">
		<!--tr>
			<td width="20%">Descripci&oacute;n de Tipo:</td>
			<td colspan="3"><input type="text" name="desc_tipo" id="desc_tipo" /></td>
		</tr-->
		<tr>
			<td width="20%">Saldo final seg&uacute;n Banco:</td>
			<td>
				<input type="text" name="saldo_fin_ban" id="saldo_fin_ban" style="text-align:right;" onkeydown="return formatoNumero(this, event)" value="<?=empty($objeto->id) ? '0,00':muestraFloat($objeto->saldo_final_banco)?>" <?=(!$editable) ? 'readonly':''?> />
				<span class="errormsg" id="error_saldo_fin_ban">*</span>
				<?=$validator->show("error_saldo_fin_ban")?>
			</td>
			<td width="20%">Saldo Conciliado:</td>
			<td>
				<input type="text" name="saldo_conc" id="saldo_conc" onkeydown="return formatoNumero(this, event)" style="text-align:right;" value="<?=empty($objeto->id) ? '0,00':muestraFloat($objeto->saldo_conciliado)?>" readonly />
				<!--span class="errormsg" id="saldo_conc">*</span-->
				<!--?=$validator->show("error_saldo_conc")?-->
			</td>
		</tr>
		<tr>
			<td>Saldo final seg&uacute;n Libro:</td>
			<td><input type="text" name="saldo_fin_lib" id="saldo_fin_lib" style="text-align:right;" value="<?=empty($objeto->id) ? '0,00':muestraFloat($objeto->saldo_final_libro)?>" readonly /></td>
			<td>Saldo Movimientos Tr&aacute;nsito:</td>
			<td><input type="text" name="saldo_trans" id="saldo_trans" style="text-align:right;" value="<?=empty($objeto->id) ? '0,00':muestraFloat($objeto->saldo_transitorio)?>" readonly /></td>
		</tr>
	</table>
	<br />
	<br />
	<input type="hidden" name="id" value="<?=$objeto->id?>" />
	<input type="hidden" name="accion" id="accion" value="<?=$boton?>" />
	<div align="right" <?=(!$editable) ? 'style="display:none"':''?>><input type="button" id="boton" name="boton" value="<?=$boton?>" onclick="guardarAsientos()" /></div>
	<input type="hidden" name="json_det" id="json_det" />
</form>
<p class="errormsg">(*) Campo requerido</p>
<div id="cargando_cta" style="display:none;margin-top:0px;">
  <img alt="Cargando" src="images/loading.gif" /> Cargando...
</div>

<script type="text/javascript">
	buildGrid(<?=$objeto->id?>);
	CargarGrid(<?=$objeto->id?>);
	
	function buildGrid(id)
	{
		//set grid parameters
		mygrid = new dhtmlXGridObject('gridbox');
		mygrid.setImagePath("js/grid/imgs/");
		var flds = "Conciliar,Tipo Doc,Nro. Doc,Beneficiario,Observaciones,Fecha,Monto";
		mygrid.setHeader(flds);
		mygrid.delim = ";";
		mygrid.setInitWidths("50;55;75;195;190;60;100");
		mygrid.setColAlign("center;center;center;left;left;center;right");
		if (!id)
			mygrid.setColTypes("ch;ro;ro;ro;ro;ro;ro");
		else
			mygrid.setColTypes("img;ro;ro;ro;ro;ro;ro");
			
		mygrid.setColSorting("int;str;str;str;str;str,int");
		mygrid.rowsBufferOutSize = 0;
		mygrid.setMultiLine(false);
		mygrid.selmultirows = "false";
		//set values for select box in 5th column
		//start grid
		mygrid.init();
		mygrid.setOnCheckHandler(doOnCheck);
	}
	
	function CargarGrid(id)
	{
		if (!id)
			return false;
			
		var monto;
		var fecha = $('fecha_hasta').value;
		
		var url = 'json.php';
		var pars = 'op=asientosConc&id_conc='+id+'&orden=fecha, origen&ms='+new Date().getTime();
		var Request = new Ajax.Request(
			url,
			{
				method: 'get',
				parameters: pars,
				onLoading:function(request){},
				onComplete:function(request)
				{
					mygrid.clearAll();
					mygrid.clearSelection();
					var jsonData = eval('(' + request.responseText + ')');
					for (i=0; i<jsonData.length; i++)
					{
						monto = 0;
						for (j=0; j<jsonData[i].det.length; j++)
							monto += parseFloat(jsonData[i].det[j].debe);
							
						mygrid.addRow(i, 'js/grid/imgs/item_chk1_dis.gif;'+jsonData[i].origen+';'+jsonData[i].num_doc+';'+jsonData[i].beneficiario.nombre+';'+jsonData[i].descrip+';'+jsonData[i].fecha+';'+muestraFloat(monto));
					}
				}
			}
		);		
	} 
</script>
