<form name="form1" method="post">
    <table width="500" border="0">
        <tr>
            <td width="170">Id:</td>
            <td width="204">
                <input type="text" name="nro_cuenta" id="nro_cuenta" value="<?=$objeto->id?>" readonly="">
            </td>
        </tr>
        <tr>
            <td width="160">Banco</td>
            <td width="595">

                <?	$bn = new banco;
						$oBancos = $bn->get_all($conn);
						$div = "'divnrocuenta'";
						echo helpers::superComboObj($oBancos, $objeto->id_banco, 'banco', 'banco','width:150px',"traeCuentasBancarias(this.value,$div)",'id','descripcion', false, 20);

					?>
                <? if(!empty($objeto->id)){
		echo "<script type='text/javascript'>traeCuentasBancarias($objeto->id_banco, 'divnrocuenta', $objeto->id_cuenta);</script>";
					 } ?>				
            </td>
        </tr>
        <tr>
            <td>Nro. de Cuenta</td>
            <td>
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td width="28%">
                            <div id="divnrocuenta" style="width:155px">
                                <select name="nro_cuenta" id="nro_cuenta" style="width:150px">
                                    <option value="0">Seleccione</option>
                                </select>
                            </div></td>
                        <td><span class="errormsg" id="error_nro_cuenta">*</span>
                            <?=$validator->show("error_nro_cuenta")?></td>
                        <td width="62%">
                            <div id="cargando_cuentas" style="display:none; font-size:11px"><img alt="Cargando" src="images/loading2.gif" /></div></td>
                    </tr>
                </table>				</td>
        </tr>
        <tr>
            <td width="90">Nro. de Chequera:</td>
            <td width="204">
                <input type="text" name="nro_chequera" id="nro_chequera" value="<?=$objeto->nro_chequera?>">
                <span class="errormsg" id="error_nro_chequera">*</span>
                <?=$validator->show("error_nro_chequera")?>
            </td>
        </tr>

        <!-- <tr>
           <td width="90">Nro Cuenta:</td>
           <td width="204">
	<? $cb = new cuentas_bancarias;
		$arr = $cb->get_all($conn);
	?>
	<?=helpers::superComboObj($arr, $objeto->nro_cuenta->id,'nro_cuenta', 'nro_cuenta','','','id','nro_cuenta')?>
	<span class="errormsg" id="error_nro_cuenta">*</span>
		<?=$validator->show("error_nro_cuenta")?>   </td>
         </tr>-->

        <tr>
            <td width="90">Fecha:</td>
            <td width="204">
                <input name="fecha" type="text" id="fecha" value="<?=muestrafecha($objeto->fecha)?>" size="12" readonly />
                <a href="#" id="boton_fecharef" onclick="return false;">
                    <img  border="0" src="images/calendarA.png" width="20" height="20" />
                </a>
                <script type="text/javascript">
                    new Zapatec.Calendar.setup({
                        firstDay          : 1,
                        weekNumbers       : true,
                        showOthers        : false,
                        showsTime         : false,
                        timeFormat        : "24",
                        step              : 2,
                        range             : [1900.01, 2999.12],
                        electric          : false,
                        singleClick       : true,
                        inputField        : "fecha",
                        button            : "boton_fecharef",
                        ifFormat          : "%d/%m/%Y",
                        daFormat          : "%Y/%m/%d",
                        align             : "Br"
                    });
                </script>

                <span class="errormsg" id="error_fecha">*</span>
                <?=$validator->show("error_fecha")?>
            </td>
        </tr>

        <tr>
            <td width="90">Cheque Desde:</td>
            <td width="204">
                <input type="text" name="cheque_desde" id="cheque_desde" value="<?=$objeto->cheque_desde?>">
                <span class="errormsg" id="error_cheque_desde">*</span>
                <?=$validator->show("error_cheque_desde")?>   </td>
        </tr>

        <tr>
            <td width="90">Cheque Hasta:</td>
            <td width="204">
                <input type="text" name="cheque_hasta" id="cheque_hasta" value="<?=$objeto->cheque_hasta?>" onblur="validadornro($('cheque_desde').value,this.value)">
                <span class="errormsg" id="error_cheque_hasta">*</span>
                <?=$validator->show("error_cheque_hasta")?>   </td>
        </tr>

        <tr>
            <td width="90">Ultimo Cheque:</td>
            <td width="204">
                <input type="text" name="ultimo_cheque" id="ultimo_cheque" value="<?=$objeto->ultimo_cheque?>">
                <span class="errormsg" id="error_ultimo_cheque">*</span>
                <?=$validator->show("error_ultimo_cheque")?>   </td>
        </tr>
        <tr>
            <td colspan="2" style="font-size:14px; color:#FF0000 " ><?=!empty($objeto->id) ? ($objeto->activa==1 ? "Chequera Activa" : "<input type='button' value='Activar Chequera' onclick='activarChequera($objeto->id,$objeto->id_cuenta)' />" ) : "Activar Chequera  <input type='checkbox' name='activa' id='activa' />" ?>  </tr>

        <tr>
            <td>&nbsp;</td>
            <td></td>
        </tr>
    </table>
    <input style="float:right" name="boton" type="button" value="<?=$boton?>" onclick="<?=$validator->validate() ?>" />
    <input name="id" type="hidden" value="<?=$objeto->id?>" />
    <input name="accion" type="hidden" value="<?=$boton?>" />
    <span style="position:absolute;top:4px;right:5px;cursor:pointer;">
        <img onClick="close_div();" src="images/close_div.gif" title="Cerrar" /></span>
</form>
<p class="errormsg">(*) Campo requerido</p>