<form name="form1" action="" method="post">
<table width="507" border="0">
<?=$cod_publicidad?>
  <tr>
    <td>Descripci&oacute;n:</td>
    <td><input type="text" name="descripcion" id="descripcion" value="<?=$objeto->descripcion?>" size="50" onchange="this.value = this.value.toUpperCase();">
		<span class="errormsg" id="error_descripcion">*</span>
		<?=$validator->show("error_descrpcion")?>	</td>
  </tr>
  <tr>
    <td>Monto:</td>
    <td><input type="text" name="monto" value="<?=$objeto->monto?>" onkeypress="return(formatoNumero(this, event));">
      <strong>Bs.</strong>      <span class="errormsg" id="error_monto">*</span>
		<?=$validator->show("error_monto")?>	</td>
  </tr>
  <tr>
  	<td width="96">Status:</td>
	<td width="401"><input name="status" id="status" type="checkbox" value="1" <?php if ($objeto->status==1){ echo 'checked'; } ?> /></td>
  </tr>
  <tr>
    <td colspan="2" align="right"><input name="accion" type="button" value="<?=$boton?>" onclick="<?=$validator->validate() ?>" /></td>
  </tr>
</table>
<input name="id" type="hidden" value="<?=$objeto->id_publicidad?>" />
<input name="accion" type="hidden" value="<?=$boton?>" />
<span style="position:absolute;top:4px;right:5px;cursor:pointer;">
<img onClick="close_div();" src="images/close_div.gif" title="Cerrar" /></span>
</form>