<form name="form1" id="form1" action="" method="post" >
    <table width="100%" border="0">
        <tr>
            <td>Fecha de Caja:</td>
            <td>
                <input style="width:100px" type="text" name="fecha" id="fecha" readonly value="<?=(empty($objeto->id)) ? $fecha:muestraFecha($objeto->fecha)?>" maxlength="10" onChange="ValidaFechaArqueoCaja(this.value,$RF('tipo_caja'));" />
                <?php
                    if(empty($objeto->id)){
                ?>
                <a href="#" id="boton_fecha" onclick="return false;" >
                    <img border="0"  alt="Seleccionar Fecha" src="images/calendarA.png" width="20" height="20" />
                </a>
                <script type="text/javascript">
                    new Zapatec.Calendar.setup({
                        firstDay          : 1,
                        weekNumbers       : true,
                        showOthers        : false,
                        showsTime         : false,
                        timeFormat        : "24",
                        step              : 2,
                        range             : [1900.01, 2999.12],
                        electric          : false,
                        singleClick       : true,
                        inputField        : "fecha",
                        button            : "boton_fecha",
                        ifFormat          : "%d/%m/%Y",
                        daFormat          : "%Y/%m/%d",
                        align             : "Br"
                    });
                </script>
                <span class="errormsg" id="error_fecha">*</span>
                
                <?php
                }
                echo $validator->show("error_fecha");
                ?>
                <!--<input type="hidden" id="fecha2" name="fecha2"/>-->
                <input type="hidden"  name="id" id="id" value="<?=$objeto->id?>"/>
                <input type="hidden" name="op"  id="op" value=""/>
            </td>
        </tr>
        <tr>
            <td>Tipo de Caja:</td>
            <td>
                <?php 
                if($objeto->tipo_caja == 0){
                    echo '<input type="radio" name="tipo_caja" id="tipo_caja" value="0" checked="checked"  />Tributos';
                    echo '<input type="radio" name="tipo_caja" id="tipo_caja" value="1"  />Servicios Municipales';
                }else{
                    echo '<input type="radio" name="tipo_caja" id="tipo_caja" value="0"  />Tributos';
                    echo '<input type="radio" name="tipo_caja" id="tipo_caja" value="1" checked="checked"  />Servicios Municipales';
                }
                ?>


            </td>
        </tr>
        <tr>
            <td>Tipo de Documento:</td>
            <td>
                <? $q = 'SELECT id, descripcion FROM ingresos.tipos_ingresos WHERE operacion = 1 or  operacion = 2 ORDER BY descripcion'; ?>
                <? echo helpers::superCombo($conn,
												$q,
												$objeto->id_tipo,
												'id_tipo',
												'id_tipo',
												'width:450px;',
												'',
												'id',
												'descripcion',
												'',
												100);
		?>
                <span class="errormsg" id="error_id_tipo">*</span>
                <?=$validator->show("error_id_tipo")?>
            </td>
        </tr>


        <tr>
            <td class="td_description">Documentos:</td>
            <td>

            </td>
        </tr>
        <tr>
            <td align="left"><input type="button" name="b_agregar" onclick="agregar()" value="Agregar (+)"  ></td>
            <td colspan="2" align="right"><input type="button" name="b_eliminar" onclick="Eliminar()" value="Eliminar"></td>
        </tr>
    </table>

    <input type="hidden" name="json_det" id="json_det" widgetid="json_det" value=""/>
    <div align="center" id="gridbox" mame="gridbox" width="100%" height="300px">

    </div>

    <span style="position:absolute;top:4px;right:5px;cursor:pointer;">
        <img onClick="close_div();" src="images/close_div.gif" title="Cerrar" />
    </span>
    <br />


    Total
    <input type="text" name="monto" id="monto" value="<?= muestraFloat($objeto->monto); ?>" readonly style="text-align:right" />
    <br />

    <div style="width:100%; text-align:right">
        
        <?php 
        if($objeto->cerrado == 'f' || $objeto->cerrado == '')
           echo '<input name="accion" type="button" value="'.$boton.'" onclick="GuardarDet(); "  />';
        ?>
        <input type="hidden" name="accion" value="<?=$boton?>"  id="accion"/>
    </div>


</form>


<script type="text/javascript">
    
    Event.observe('form1', 'keypress', function (event) { 
        var key = window.event ? event.keyCode : event.which;
	var keychar = String.fromCharCode(key);
	if(keychar == '+')
            agregar();
            //alert('Mas');
    });
    
  
    
    buildGrid();
    CargarGrid('<?=$objeto->id?>');
    $('fecha').focus();
     
    function buildGrid(){
        //set grid parameters
        mygrid = new dhtmlXGridObject('gridbox');
        mygrid.setImagePath("dhtmlx/dhtmlxgrid/codebase/imgs/");
        mygrid.selMultiRows = true;
        mygrid.setHeader("Fecha,Número,Monto",null,["text-align:center;","text-align:center;","text-align:center"]);
        mygrid.setInitWidths("150,400,230");
        mygrid.setColAlign("left,center,right");
        mygrid.setColTypes("ed,ed,ed");
        mygrid.setSkin("dhx_skyblue");
        mygrid.setColumnColor("white,white,white");
        mygrid.rowsBufferOutSize = 0;
        mygrid.setMultiLine(false);
        mygrid.selmultirows="true";
        mygrid.delim=';';
        mygrid.attachEvent("OnEnter", doOnEnter);
        mygrid.attachEvent("OnEditCell", doOnEdit);
        mygrid.setone
        //INICIA GRID//
        mygrid.init();
        mygrid.seton
        
    } //Fin buildGrid
    
    function validarFechaStr(fecha) {
        try{
            var fecha = fecha.split("/");
            var dia = fecha[0];
            var mes = fecha[1];
            var ano = fecha[2];
            var estado = true;
        if ((dia.length == 2) && (mes.length == 2) && (ano.length == 4)) {
            switch (parseInt(mes,10)) {
                case 1:dmax = 31;break;
                case 2: if (ano % 4 == 0) dmax = 29;
                        else dmax = 28;
                        break;
                case 3:dmax = 31;break;
                case 4:dmax = 30;break;
                case 5:dmax = 31;break;
                case 6:dmax = 30;break;
                case 7:dmax = 31;break;
                case 8:dmax = 31;break;
                case 9:dmax = 30;break;
                case 10:dmax = 31;break;
                case 11:dmax = 30;break;
                case 12:dmax = 31;break;
            }
            dmax!=""?dmax:dmax=-1;
            
            if ((dia >= 1) && (dia <= dmax) && (mes >= 1) && (mes <= 12)) {
                for (var i = 0; i < fecha[0].length; i++) {
                    diaC = fecha[0].charAt(i).charCodeAt(0);
                    (!((diaC > 47) && (diaC < 58)))?estado = false:'';
                    mesC = fecha[1].charAt(i).charCodeAt(0);
                    (!((mesC > 47) && (mesC < 58)))?estado = false:'';
                }
            }

            for (var i = 0; i < fecha[2].length; i++) {
                anoC = fecha[2].charAt(i).charCodeAt(0);
                (!((anoC > 47) && (anoC < 58)))?estado = false:'';
            }

        }else 
            estado = false;
        return estado;
        }catch(err){
                alert("Error en fecha");
        }
    } //Fin validarFechaStr
/*
 * @topic: 10 @event: onEditCell 
 * @eventdesc: Event raises 1-3 times depending on cell type and settings 
 * @eventparam: stage of editting (0-before start[can be canceled if returns false],1-editor opened,2-editor closed) 
 * @eventparam: ID or row 
 * @eventparam: index of cell 
 * @eventparam: new value ( only for stage 2 ) 
 * @eventparam: old value ( only for stage 2 )
 */
    function doOnEdit(stage,rowId,cellId,newVal,oldVal){
        //alert(stage+':'+rowId+':'+cellId+':'+newVal+':'+oldVal);
        
        var currentTime = new Date()
        var month = currentTime.getMonth()+1;
        var day = currentTime.getDate();
        var year = currentTime.getFullYear();
        var num=new Number(month);
        var ml = num.toString();
        var numd = new Number(day);
        var dl = numd.toString();
        
        if(dl.length==1) dl = '0'+dl;
        if(ml.length==1) ml = '0'+ml;
        var FechaActual = dl + "/" + ml + "/" + year;
        
        if(cellId == 0 && newVal != oldVal){
             if(validarFechaStr(newVal)){
                 return newVal
             }else{
                 if(oldVal != '' && validarFechaStr(oldVal)){
                    return oldVal
                 }else{
                    //mygrid.cells(rowId,cellId).setValue(FechaActual); 
                    return FechaActual;
                 }
             }
        }else 
            return newVal;
    } //Fin doOnEdit

    function CargarGrid(id)
    {
        if(id == '')
            return;
        mygrid.clearSelection();
        mygrid.clearAll();
        var url = 'json.php';
        var pars = 'op=detalle_doc_ing&id='+ id+'&ms='+new Date().getTime();
        var Request = new Ajax.Request
        (
        url,
        {
            method: 'get',
            parameters: pars,
            onLoading:function(request){Element.show('cargando');
            },
            onComplete:function(request)
            {
                //var i = 0;
                var JsonData = eval( '(' + request.responseText + ')');
                if(JsonData)
                {
                    for(var j=0;j<JsonData.length-1;j++)
                    {
                        monto = (JsonData[j].monto=='0') ? '0,00':muestraFloat(JsonData[j].monto);
                        fecha = mostrarFecha(JsonData[j].fecha_documento); // JsonData[j].fecha_documento.substr(8,2)+'/'+JsonData[j].fecha_documento.substr(5,2)+'/'+JsonData[j].fecha_documento.substr(0,4);
                        //mygrid.addRow(i,JsonData[j].id_tipo+";"+JsonData[j].nrodoc+";"+JsonData[j].id_banco+";"+monto);
                        mygrid.addRow(i,[fecha,JsonData[j].nrodoc,monto]);
                        i++;
                       
                    }
                }
                Element.hide('cargando');
            }
        }
    );
    }
</script>

