<form name="form1" method="post">
<table>
<tr>
	<td>Descripci&oacute;n:</td>
	<td><input name="descripcion" value="<?=$objeto->descripcion?>" size="40" type="text">
		<span class="errormsg" id="error_desc">*</span>
		<?=$validator->show("error_desc")?>
	</td>
	<td>Orden:</td>
	<td><input name="orden" value="<?=$objeto->orden?>" style="width:50px" type="text">
		<span class="errormsg" id="error_ord">*</span>
		<?=$validator->show("error_ord")?>
	</td>
</tr>
</table>
<input style="float:right" name="boton" type="button" value="<?=$boton?>" onclick="<?=$validator->validate() ?>" />
<input name="accion" type="hidden" value="<?=$boton?>" />
<div style="position:absolute; top:4px; right:5px; cursor:pointer;">
<img onClick="close_div();" src="images/close_div.gif" title="Cerrar" /></div>
</form>
<p class="errormsg">(*) Campo requerido</p>
