<form name="form1" method="post">
<table>

<tr>
	<td>Detalle:</td>
	<td><input name="detalle" value="<?=$objeto->detalle?>" size="100" type="text" onchange="this.value = this.value.toUpperCase();">
		<span class="errormsg" id="error_detalle">*</span>
		<?=$validator->show("error_detalle")?>	</td>
</tr>
<tr>
	<td>Ordenanza Articulo:</td>
	<td><input name="ordenanza" value="<?=$objeto->ordenanza?>" size="40" type="text" onchange="this.value = this.value.toUpperCase();">
		<span class="errormsg" id="error_ordenanza">*</span>
		<?=$validator->show("error_ordenanza")?>	</td>
</tr>
<tr>
	<td>Unidad Tributaria:</td>
	<td><input name="multa" value="<?=$objeto->multa?>" size="40" type="text" onchange="this.value = this.value.toUpperCase();">
		<span class="errormsg" id="error_multa">*</span>
		<?=$validator->show("error_multa")?>	</td>
</tr>
</table>
<input style="float:right" name="boton" type="button" value="<?=$boton?>" onclick="<?=$validator->validate() ?>" />
<input name="id" type="hidden" value="<?=$objeto->id?>" />
<input name="accion" type="hidden" value="<?=$boton?>" />
<div style="position:absolute; top:4px; right:5px; cursor:pointer;">
<img onClick="close_div();" src="images/close_div.gif" title="Cerrar" /></div>
</form>
<p class="errormsg">(*) Campo requerido</p>
