<form name="form1" action="" method="post">
  <table>
      
	<tr>
      <td>Estado: </td>
      <td><?=helpers::combo($conn, 'estado', $objeto->id_estado)?>
	  	  <span class="errormsg" id="error_estado" >*</span>
		  <?=$validator->show("error_estado")?>  
	</td>
    </tr>
    <tr>
      <td>Descripcion:</td>
      <td><input name="descripcion" value="<?=$objeto->descripcion?>" size="40" type="text"  onchange="this.value = this.value.toUpperCase();"/>
          <span class="errormsg" id="error_descripcion">*</span>
          <?=$validator->show("error_descripcion")?>      </td>
    </tr>
	<tr>
      <td>Alcaldia: </td>
      <td><input type="checkbox" name="alcaldia" id="alcaldia"  <? if($objeto->alcaldia=='t') echo "checked"?>/>     </td>
    </tr>
  </table>
  <input style="float:right" name="boton" type="button" value="<?=$boton?>" onclick="<?=$validator->validate()?>" />
<input name="id" type="hidden" value="<?=$objeto->id?>" />
<input name="accion" type="hidden" value="<?=$boton?>" />
<div style="position:absolute; top:4px; right:5px; cursor:pointer;">
<img onClick="close_div();" src="images/close_div.gif" title="Cerrar" />
</div>
</form>
<p class="errormsg">(*) Campo requerido</p>