<?	$q='SELECT cod_publicidad,descripcion FROM publicidad.tipo_publicidad';
	$r=$conn->Execute($q);
	
?>
<style type="text/css">
<!--
	.subt 
	{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
	}
-->
</style>
<form name="form1" method="post" action="">
	<table width="100%" rules="none"frame="below">
  		<!--DWLayoutTable-->
  		<tr>
    		<td height="30" colspan="3" valign="top">
				<div align="center" class="Estilo2">
        			<div align="left">
						Identificaci&oacute;n del Contribuyente
					</div>
    			</div>
			</td>
			<td width="145" valign="top">
				<div align="right">
					<span class="Estilo2">
						Fecha:
					</span>
				</div>
			</td>
    		<td colspan="2" valign="top">
	  			<div align="left">
	    			<input name="fechadoc" type="text" class="Estilo2" id="fechadoc" value="<?=muestrafecha($objeto->fecha)?>" size="15" readonly />
      			</div>
			</td>
	    	<td width="90" valign="top">
				<div align="right">
					<span class="Estilo2">
						Patente:
					</span>
				</div>
			</td>
		 	<td width="163" valign="top">
				<div align="left">
					<input name="patente" type="text" id="patente" value="<?=$objeto->patente?>" size="20">
	           	<span class="errormsg" id="error_patente">*</span>
		<?=$validator->show("error_patente")?></div>
				 
			</td>
		</tr>
  		<tr valign="top" class="filas">
     		<td width="144" height="24" valign="top">
				<span class="Estilo2">
					Rif/C&eacute;dula:
				</span>
			</td>
     		<td colspan="2" valign="top"><?=helpers::combo_ue_cp($conn, 
															'contribuyente', 
															$objeto->id_contribuyente,
															'width:145px',
															'',
															'id_contribuyente',
															'id_contribuyente',
															"traeContribuyenteDesdeXML(this.value)",
															"SELECT id AS id, rif AS descripcion FROM vehiculo.contribuyente ",
															'',
															'',
															'22')?>
			</td>
    		<td valign="top">
				<div align="right">
					<span class="Estilo2">
						Contribuyente:
        			</span>
	   			</div>
			</td>
    		<td colspan="2" valign="top">                          
	 			<input name="primer_nombre" type="text" id="primer_nombre" value="<?=$objeto->nombre_contribuyente?>" size="27" maxlength="25" readonly>
			</td>
      		<td valign="top">
				<div align="right">
					<span class="Estilo2">
						Razon Social:
					</span>
				</div>
			</td>
    		<td valign="top">
        		<input name="razons" type="text" id="razons" value="<?=$objeto->razon_contribuyente?>" size="27" maxlength="25" readonly>
			</td>
  		</tr>
		<tr valign="top" class="filas">
    		<td height="24" valign="top">
				<span class="Estilo2">
					Ciudad:
				</span>
			</td>
    		<td colspan="2" valign="top">
        		<input name="ciudad" type="text" id="ciudad" value="<?=$objeto->ciudad_contribuyente?>" size="20" maxlength="20" readonly>
    		</td>
			<td valign="top">
				<div align="right">
					<span class="Estilo2">
						Telefono:
					</span>
				</div>
			</td>
			<td colspan="2" valign="top">       
        		<input name="telefono" type="text" id="telefono" value="<?=$objeto->telefono_contribuyente?>" size="27" maxlength="25" readonly>
			</td>
    		<td valign="top">
				<div align="right">
					<span class="Estilo2">
						Domicilio Tributario:
					</span>
				</div>
			</td>
    		<td valign="top">
				<input name="domicilio_fiscal" type="text" id="domicilio_fiscal" value="<?=$objeto->domiciliotrib_contribuyente?>" size="20" maxlength="20" readonly>
			</td>
		</tr>
	</table>
	<table width="100%"rules="none"frame="below">
  		<!--DWLayoutTable-->
		<tr>
			<td></td>
			<td width="190" height="26" align="left" valign="middle">
				Tipo de Solicitud:			</td>
			<td>Inspector:</td>
			<td width="189" align="left" valign="middle">Resultado Inspecci&oacute;n: </td>
			<td width="27"></td>
			<? if (!empty($res_asignacion)){?>
			<td width="86" align="left" valign="middle"><!--DWLayoutEmptyCell-->&nbsp;</td>
			<? }?>
		    <td width="220" align="left" valign="middle">Exoneracion</td>
			<td colspan="2">Motivo de la Exoneracion</td>
		<tr>
  			<td width="7" height="26" align="center" valign="middle">						</td>
			<td width="190" align="left" valign="middle">
	  			<?=helpers::combo_publicidad($conn, 
											'', 
											$objeto->id_solicitud,
											'',
											'',
											'id_solicitud',
											'id_solicitud',
											'',
											"SELECT id AS id, descripcion FROM publicidad.tipo_orden WHERE id >= '1' AND id < '3'")?>			</td>
    		<td width="60" align="center" valign="middle"><?=helpers::combo($conn, 
								'', 
								$objeto->cod_ins, 
								'', 
								'cod_ins', 
								'cod_ins', 
								'cod_ins', 
								'', 
								'SELECT cod_ins as id, cod_ins||\'::\'||apellido||\' \'||nombre as descripcion FROM publicidad.inspector')?></td>
    		<td width="189" align="left" valign="middle"><input name="inspeccion" type="text" id="inspeccion" value="<?=$objeto->inspeccion?>" readonly></td>
			<td></td>
			<? if (!empty($res_asignacion)){?>
			<td width="86" align="left" valign="middle"><!--DWLayoutEmptyCell-->&nbsp;</td>
			<? }?>
			<td><input name="excento" type="checkbox" id="excento" value="1" /></td>   
<td colspan="2" align="center" valign="middle"><?=helpers::combo_publicidad($conn, 
											'', 
											$objeto->id_exo,
											'',
											'',
											'id_exo',
											'id_exo',
											"",
											"SELECT id_exo as id, descripcion FROM publicidad.exoneracion_publicidad WHERE tipo='1'")?></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td width="271"></td>
		</tr>
	</table>
	
	
  <div id="formulario_publicidad">
  <div>Periodo Desde:<span class="Estilo8">
		    <input name="fec_desde" type="text" id="fec_desde" value="<?=muestrafecha($objeto->fec_desde)?>" size="12"/>
        	  </span> <a href="#" id="boton_fechainicio" onclick="return false;"> <img  border="0" src="images/calendarA.png" width="14" height="14" /> </a>
          		<script type="text/javascript">
					new Zapatec.Calendar.setup({
						firstDay          : 1,
						weekNumbers       : true,
						showOthers        : false,
						showsTime         : false,
						timeFormat        : "24",
						step              : 2,
						range             : [1900.01, 2999.12],
						electric          : false,
						singleClick       : true,
						inputField        : "fec_desde",
						button            : "boton_fechainicio",
						ifFormat          : "%d/%m/%Y",
						daFormat          : "%Y/%m/%d",
						align             : "Br"
					 });
				</script>
  </div>
		<div>
		  <p>Periodo Hasta:<span class="Estilo8">
		    <input  name="fec_hasta" type="text" id="fec_hasta" value="<?=muestrafecha($objeto->fec_hasta)?>" size="12"/>
	      <a href="#" id="boton_fechafin" onclick="return false;"><img  border="0" src="images/calendarA.png" width="14" height="14" /> </a></span></p>
		  <table align="center" border="0" id="tablitaPubFija" width="47%">
            <tr>
              <td colspan="3">                  <span class="titulo">Agregar Tipo de Publicidad </span></td>
            </tr>
            <tr>
              <td align="left"  ><input name="button" type="button" onclick="Agregar()" value="Agregar" /></td>
              <td align="right"  ><input name="button" type="button" onclick="Eliminar()" value="Eliminar" /></td>
            </tr>
            <tr>
              <td colspan="3"><div id="gridbox" width=502 height=150 class="gridbox"></div></td>
            </tr>
          </table>
		  <p><span class="Estilo8">
		    <script type="text/javascript">
					new Zapatec.Calendar.setup({
						firstDay          : 1,
						weekNumbers       : true,
						showOthers        : false,
						showsTime         : false,
						timeFormat        : "24",
						step              : 2,
						range             : [1900.01, 2999.12],
						electric          : false,
						singleClick       : true,
						inputField        : "fec_hasta",
						button            : "boton_fechafin",
						ifFormat          : "%d/%m/%Y",
						daFormat          : "%Y/%m/%d",
						align             : "Br"
					 });
		       	</script>
	      </span>
	      </p>
  </div>
 
        <table width="1078" height="27" border="0">
          <tr>
            <td><div id="deuda"></div></td>
          </tr>
        </table>
        <table width="464" align="right">
			<br />
			
			<tr>
<td><input type="button" name="btn_liq_pub_even" value="Liquidar" onClick="document.location.href='liquidacion.publicidad_fija.pdf.php?&id=<?=$objeto->id?>'">
			  <input type="button" name="btn_realizar_pago" value="Realizar Pago" onclick="realizarpago('<?=$objeto->id?>')" /> 
			  </td>
				<td width="100" align="right">
					<br />
						<input name="accion" type="submit" value="<?=$boton?>" onclick="Guardar(); <?=$validator->validate()?>"/>
						<input name="id" type="hidden" value="<?=$objeto->id?>" />
                        <input name="accion2" type="hidden" value="<?=$boton?>" />
</td>
			</tr>
  </table>
        <p>
          <input name="pub_fija" type="hidden" id="id" />
          <input name="publicidad" id="publicidad" type="hidden" />
          <input name="accion" type="hidden" value="<?=$boton?>" /> 
          <span style="position:absolute;top:4px;right:5px;cursor:pointer;">
          <img onClick="close_div();" src="images/close_div.gif" title="Cerrar" /></span></p>
        <p>&nbsp;</p>
        <p>&nbsp;        </p>
</form>
<p class="errormsg">(*) Campo requerido</p>
<script type="text/javascript">
buildGrid();
CargarGrid();
function buildGrid(){
	//set grid parameters
	mygrid = new dhtmlXGridObject('gridbox');
	mygrid.selMultiRows = true;
	mygrid.setImagePath("js/Grid/imgs/");
	mygrid.setHeader("Tipo de Publicidad,Cantidad,Unidad,Aforo");
	mygrid.setInitWidths("200,100,100,100");
	mygrid.setColAlign("left,left,left,left");
	mygrid.setColTypes("coro,ed,coro,ro");
	mygrid.setColSorting("str,int,int,int");
	mygrid.setColumnColor("white,white,white,white");
	mygrid.rowsBufferOutSize = 0;
	mygrid.getCombo(2).put("un","Unidad");
	mygrid.getCombo(2).put("mt/2","Metros/2");
	mygrid.getCombo(2).put("ml","Millar");
	mygrid.getCombo(2).put("ct/2","Centimetros/2");
	mygrid.setMultiLine(false);
	mygrid.selmultirows="true";	
	mygrid.init();
	CargarComboGrid();
	mygrid.setOnEditCellHandler(CargarAforo);

} 

function CargarComboGrid(){
	<? while(!$r->EOF){ ?>
		mygrid.getCombo(0).put(<?=$r->fields['cod_publicidad']?>,<?="'".$r->fields['descripcion']."'"?>);
	<? $r->movenext();
	} ?>
}

function CargarGrid(){
var JsonAux;
	mygrid.clearSelection();
	mygrid.clearAll();
	if("<?=$objeto->id?>"){ 
		if('<?=$objeto->publicida?>'){
			var Familiar = eval( '(' + '<?=$objeto->publicida?>' + ')');
			for(i=0;i<Familiar.length;i++){
				mygrid.addRow(i,Familiar[i][0]+","+Familiar[i][1]+","+Familiar[i][2]+","+Familiar[i][3],i);
			}
		}
	}
}

function CargarAforo(stage,rowId,cellInd){
	if(stage==2){
		if(cellInd=='0'){
			var url = 'buscarImpuesto.php';
			var pars = 'id=' + mygrid.cells(rowId,'0').getValue();
			var Request = new Ajax.Request(
				url,
				{
					method: 'post',
					parameters: pars,
					//asynchronous:false, 	
					onComplete:function(request){
						if(request.responseText){
							mygrid.cells(rowId,'3').setValue(request.responseText);
						}
					}
				}
			); 
		}
	}
}

</script>