<form name="form1" method="post">
<table border="0">
  
  <tr>
    <td width="90">Empleado:</td>
    <td>
		<input type="text" name="txtNomEmp" id="txtNomEmp" style="width:350px" value="<?=$objeto->nombre?>" readonly="readonly" />
        <span class="errormsg" id="error_nombre">*</span>
		<?=$validator->show("error_nombre")?> 
            <input type="hidden" name="tra_cod" id="tra_cod" value="<?=$objeto->tra_cod?>" />
            <span onclick="traeEmpleados();" style="cursor:pointer; " id="bcuentas">
                <img src="images/lupa.gif" alt="Lupa" width="19" height="17" /> Buscar
            </span> 
	</td>
  </tr>
  <tr>
    <td width="90">Tipo:</td>
    <td>
		<select name="tipo" id="tipo">
        	<option value="0">Seleccione..</option>
            <option value="1" <? if($objeto->tipo=='1') echo 'selected';?>>Custodio De Caja</option>
            <option value="2" <? if($objeto->tipo=='2') echo 'selected';?>>Responsable de Caja</option>
        </select>  
        <span class="errormsg" id="error_tipo">*</span>
		<?=$validator->show("error_tipo")?>     	 
	</td>
  </tr>
  <tr>
    <td width="90">Estatus:</td>
    <td>
		<select name="status" id="status">
        	<option value="0">Seleccione..</option>
            <option value="1" <? if($objeto->status=='1') echo 'selected';?>>Activo</option>
            <option value="2" <? if($objeto->status=='2') echo 'selected';?>>Inactivo</option>
        </select>  
        <span class="errormsg" id="error_status">*</span>
		<?=$validator->show("error_status")?>     	 
	</td>
  </tr>
  <tr>
    <td width="90">Fecha Inicio:</td>
    <td>
		<table border="0" cellpadding="0" cellspacing="0">
			<tr>
			<td width="95px" valign="top">
	  		<div align="left">
	    <input name="fecha_ini" type="text" class="Estilo2" id="fecha_ini" value="<?=empty($objeto->fecha_inicio) ? "" : muestraFecha($objeto->fecha_inicio)?>" size="15" readonly />
			 <span class="errormsg" id="error_fecha_ini">*</span>
				<?=$validator->show("error_fecha_ini")?>	
            </div>
           
			</td>
					
			<td valign="top">
			
			<div align="left" style="vertical-align:top">
			&nbsp;
		<a href="#" id="boton_fecha_ini" onclick="return false;">
					  <img  border="0" src="images/calendarA.png" width="20" height="20" />
			  </a>  
              <script type="text/javascript">
				new Zapatec.Calendar.setup({
					firstDay          : 1,
					weekNumbers       : true,
					showOthers        : false,
					showsTime         : false,
					timeFormat        : "24",
					step              : 2,
					range             : [1900.01, 2999.12],
					electric          : false,
					singleClick       : true,
					inputField        : "fecha_ini",
					button            : "boton_fecha_ini",
					ifFormat          : "%d/%m/%Y",
					daFormat          : "%Y/%m/%d",
					align             : "Br"
				 });
			         </script>
      </div>  </td>
      		</tr>
        </table>
     </td>
  </tr>
  
  <tr>
    <td width="90">Fecha Fin:</td>
    <td>
		<table border="0" cellpadding="0" cellspacing="0">
			<tr>
			<td width="95px" valign="top">
	  		<div align="left">
	    <input name="fecha_fin" type="text" class="Estilo2" id="fecha_fin" value="<?=empty($objeto->fecha_fin) ? "" : muestrafecha($objeto->fecha_fin)?>" size="15" readonly />
            </div>
           
			</td>
					
			<td valign="top">
			
			<div align="left" style="vertical-align:top">
			&nbsp;
		<a href="#" id="boton_fecha_fin" onclick="return false;">
					  <img  border="0" src="images/calendarA.png" width="20" height="20" />
			  </a>  
              <script type="text/javascript">
				new Zapatec.Calendar.setup({
					firstDay          : 1,
					weekNumbers       : true,
					showOthers        : false,
					showsTime         : false,
					timeFormat        : "24",
					step              : 2,
					range             : [1900.01, 2999.12],
					electric          : false,
					singleClick       : true,
					inputField        : "fecha_fin",
					button            : "boton_fecha_fin",
					ifFormat          : "%d/%m/%Y",
					daFormat          : "%Y/%m/%d",
					align             : "Br"
				 });
			         </script>
      </div>  </td>
      		</tr>
        </table>
     </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td></td>
  </tr>
</table>
<input style="float:right" name="boton" type="button" value="<?=$boton?>" onclick="<?=$validator->validate() ?>" />
<input name="id" type="hidden" value="<?=$objeto->id?>" />
<input name="accion" type="hidden" value="<?=$boton?>" /> 
<span style="position:absolute;top:4px;right:5px;cursor:pointer;">
<img onClick="close_div();" src="images/close_div.gif" title="Cerrar" /></span>
</form>
<p class="errormsg">(*) Campo requerido</p>