<form name="form1" method="post">
<table border="0" width="100%" align="center">
<? if($objeto->id){ ?>
<tr>
	<td>N&ordm; de Documento:</td>
	<td colspan="3"><input type="text" name="id" id="id" value="<?=$objeto->id?>" /></td>
</tr>
<? } ?>
<tr>
	<td width="88">Unidad Ejecutora:</td>
	<td width="310">
	<input type="text" name="unidad_ejecutora" id="unidad_ejecutora" value="<?= $objeto->unidad_ejecutora?>" readonly size="60" />
	</td>
	<td width="87" align="right"><span style="text-align:right">Fecha:</span></td>
	<td colspan="3">
	<input value="<?=empty($objeto->fecha) ? date("d/m/Y") : muestrafecha($objeto->fecha)?>" readonly name="fecha" size="12 " type="text" />
	</td>
<tr>
	<td>A&ntilde;o:</td>
	<td style="width:310px">
		<input value="<?=$objeto->ano?>" name="ano" style="width:50px" type="text" readonly />
	</td>
	<td style="text-align:right">Status:</td>
	<td colspan="3">
		
		<input type="status" id="status" style="width:100px" value="<?= $objeto->nom_status?>" readonly />
		
	</td>
</tr>
<tr>
	<td align="left" valign="top">Motivo:</td>
	<td  colspan="5" align="left"><textarea name="motivo" id="motivo" style="width:400px"><?=$objeto->motivo?></textarea></td>
</tr>
</table>
<table border="0" width="100%" align="center">
<tr>
	<td colspan="3"><hr /></td>
</tr>
</table>
<!--<div id="partpreDiv" style="display:inline">
<table border="0" width="100%" align="center">
<tr>
	<td colspan="3"><span class="titulo">Seleccione sus Productos :</span></td>
</tr>
<tr>
	<td>Categoria</td>
	<td>Producto</td>
	<td>Cantidad</td>
</tr>
<tr height="15px">
	<td style="width:33%">
		<table width="100%" cellpadding="0" cellspacing="0" border="0s">
			<tr>
				<td width="50%">
					<div id="divcombocat" style="width:100%">
						<select style="width:70%">
							<option>Seleccione</option>
						</select>	
					</div>
				</td>
				<td>
					<div id="cargador_categorias" style="display:none" align="left">
						&nbsp;<img src="images/loading2.gif" />Cargando...
					</div>
				</td>
			</tr>
		</table>
	</td>
	<td style="width:34%">
		<table width="100%" cellpadding="0" cellspacing="0" border="0s">
			<tr>
				<td width="50%">
					<div id="divcomboprod">
						<select style="width:70%">
							<option>Seleccione</option>
						</select>
					</div>
				</td>
				<td>
					<div id="cargador_partidas" style="display:none" align="left">
						&nbsp;<img src="images/loading2.gif" />Cargando...
					</div>
				</td>
			</tr>
		</table>
	</td>
	<td style="width:33%">
		<input type="text" name="cantidad" id="cantidad" align="right" style="text-align:right" value="0" />
	</td>
</tr>
<tr>
	<td colspan=2 align="left"><input type="button" name="b_agregar_co" onClick="traePartidasPorProductos();" value="Agregar">
	<input type="hidden" name="partidas_presupuestarias" id="partidas_presupuestarias" />
	<input type="hidden" name="total_prod" id="total_prod" />
	<input type="hidden" name="disponible" id="disponible">
	<input type="hidden" name="idParCat" id="idParCat">
	<input type="hidden" name="puedo" id="puedo" />
	<input type="hidden" name="precio" id="precio" />
	</td>
	<td align="right"><input type="button" name="b_eliminar_co" onClick="EliminarRE()" value="Eliminar"></td>	
</tr>
<tr>
	<td colspan="3"><hr></td>
</tr>
</table>
</div>-->
<table border="0" width="100%" align="center">
<tr>
	<td colspan="3" align="center">
	<div id="gridboxre" style=" width:700px; height:150px; z-index:0; display:block" class="gridbox" align="center"></div></td>
</tr>
<tr>
	<td colspan="3" align="left">Categoria Programatica: &nbsp; <input type="text" name="nom_cat_pro" id="nom_cat_pro" readonly size="60" /> </td>
</tr>
<tr>
	<td colspan="3" align="left">Partida Presupuestaria: &nbsp;&nbsp;&nbsp; <input type="text" name="nom_par_pre" id="nom_par_pre" readonly size="60" /></td>
</tr>
<tr>
	<td align="left"><input type="hidden" name="requisicion" id="requisicion"></td>
	<td  colspan="2" align="right">
	Monto Total: &nbsp;&nbsp;<input type="text" name="montoRE" id="montoRE" style="text-align:right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
</table>

<? if($objeto->status=='02'){ ?>
<input style="float:right; margin: 5px" name="botonRecibir" type="button" value="Recibir" onClick="actapr(this);" />
<? } elseif($objeto->status=='04') { ?>
<!--<input style="float:right; margin: 5px" name="botonGenerar" type="button" value="Generar Solicitudes de Cotizacion" onClick="mostrar_ventana(); " />-->
<? } ?>
<input name="id" type="hidden" value="<?=$objeto->id?>" />
<input name="accion" type="hidden" value=""  id="accion"/>
<input type="hidden" name="status" id="status" value="<?=$objeto->status?>" />
<input type="hidden" name="nrodoc" id="nrodoc" value="<?=$objeto->nrodoc?>" />
<input type="hidden" name="despachado" id="despachado" />
<input type="hidden" name="id_productos" id="id_productos" />
<span style="position:absolute;top:4px;right:5px;cursor:pointer;">
<img onClick="close_div();" src="images/close_div.gif" title="Cerrar" /></span>
<br />
</form>
<p class="errormsg">(*) Campo requerido</p>
<script type="text/javascript">

buildGridre();
CargarGrid();
sumaTotal();
function buildGridre(){
	//set grid parameters
	mygridre = new dhtmlXGridObject('gridboxre');
	mygridre.selMultiRows = true;
	mygridre.setImagePath("js/Grid/imgs/");
	mygridre.setHeader("Producto,Categoria Programatica,Partida Presupuestaria, Cantidad, Despachado, Pendiente, Precio U., Total");
	mygridre.setInitWidths("150,90,100,60,70,60,80,100");
	mygridre.setColAlign("left,left,left,right,center,center,right,right");
	<? if ($objeto->status=='02'){?>
		mygridre.setColTypes("coro,ro,ro,ro,ro,ro,ro,ro");
	<? } else { ?>
		mygridre.setColTypes("coro,ro,ro,ro,ro,ro,ro,ro");
	<? } ?>
	mygridre.setColSorting("str,str,str,int,int,int,int,int");
	mygridre.setColumnColor("white,white,white,white,#cccccc,#cccccc,#cccccc,#cccccc");
	mygridre.rowsBufferOutSize = 0;
	mygridre.delim=';';
	mygridre.setEditable(false);
	//mygridre.setOnEnterPressedHandler(cambiaDespachado);
	mygridre.setOnRowSelectHandler(traerPartidasSeleccionada);
	mygridre.setMultiLine(false);
	mygridre.selmultirows="true";
	<? $prod = new productos;
		$objcp = $prod->get_all($conn);
	?>
	<?=helpers::combogrid($objcp, 0, 'id' , 'descripcion', 'Seleccione', 'mygridre' )?>
	
	/*<? //$cp = new categorias_programaticas;
		//$obj = $cp->get_all($conn);
	?>
	<? //=helpers::combogrid($obj, 1, 'id' , 'descripcion', 'Seleccione', 'mygridre' )?>
	
	<? //$pp = new partidas_presupuestarias;
		//$obj = $pp->get_all($conn);
	?>
	<? //=helpers::combogrid($obj, 2, 'id' , 'descripcion', 'Seleccione', 'mygridre' )?>*/
	//mygridpp.setOnEnterPressedHandler(calcularMontoCausado);
	//mygridpp.setOnEditCellHandler(validarMontoPP);
	
	//INICIA GRID//
	mygridre.init();
	
}

function CargarGrid(){
var JsonAux;
	mygridre.clearSelection();
	mygridre.clearAll();
	if("<?=$objeto->id?>"){ 
		if('<?=$objeto->relacionPARCAT?>'){
			var Relaciones = eval( '(' + '<?=$objeto->relacionPARCAT?>' + ')');
			var productos = [];
			//alert(Relaciones[0][2]);
			for(i=0;i<Relaciones.length;i++){
				var ctotal = Relaciones[i]['costo']*Relaciones[i]['cantidad'];
				var cantp = Relaciones[i]['cantidad'] - Relaciones[i]['cantidad_despachada']
				mygridre.addRow(i,Relaciones[i]['id_producto']+";"+Relaciones[i]['id_categoria']+";"+Relaciones[i]['id_partida']+";"+Relaciones[i]['cantidad']+";"+Relaciones[i]['cantidad_despachada']+";"+cantp+";"+Relaciones[i]['costo']+";"+ctotal);
				productos[i]= Relaciones[i]['id_producto'];
			}
		}
		$('id_productos').value = productos;
	}
}

</script>