<form name="form1" method="post">
<table>
<tr>
	<td>Detalle de la Solicitud:</td>
	<td><input name="detalle" value="<?=$objeto->detalle?>" size="40" type="text" onchange="this.value = this.value.toUpperCase();">
		<span class="errormsg" id="error_det">*</span>
		<?=$validator->show("error_det")?>	</td>
</tr>
</table>
<input style="float:right" name="boton" type="button" value="<?=$boton?>" onclick="<?=$validator->validate() ?>" />
<input name="id" type="hidden" value="<?=$objeto->id?>" />
<input name="accion" type="hidden" value="<?=$boton?>" />
<div style="position:absolute; top:4px; right:5px; cursor:pointer;">
<img onClick="close_div();" src="images/close_div.gif" title="Cerrar" /></div>
</form>
<p class="errormsg">(*) Campo requerido</p>
