<form name="form1" method="post">
    <span style="float:right;padding:2px;cursor:pointer;">
        <img onClick="close_div();" src="images/close_div.gif" title="Cerrar" />
    </span>
    <table width="100%" border="0">
        <tr>
            <td>Descripci&oacute;n:</td>
            <td>
                <input type="text" name="descripcion" size="60" value="<?=$objeto->descripcion?>" style="width:350px"/>
                <span class="errormsg" id="error_desc">*</span>
                <?=$validator->show("error_desc")?>
            </td>
        </tr>
        <tr>
            <td>Cuenta Contable:</td>
            <td>
                <input type="text" name="txtCuentaContable" id="txtCuentaContable" style="width:350px" value="<?=$objeto->descCuenta?>" />
                <span class="errormsg" id="error_cc">*</span>
                <?=$validator->show("error_cc")?>
                <input type="hidden" name="cta_contable" id="cta_contable" value="<?=$objeto->idcta?>" />
                <span onclick="traeCuentasContables();" style="cursor:pointer; display:inline" id="bcuentas">
                    <img src="images/lupa.gif" alt="Lupa" width="19" height="17" /> Buscar
                </span>
            </td>
            <td>

                <input type="hidden" name="ctaContable" id="ctaContable" value="<?=$objeto->cta_contable?>"  />
            </td>
        </tr>
        <tr>
            <td>Tipo Documento para Conciliar:</td>
            <td>
                <select name="tipo_doc" id="tipo_doc" >
                     <option value="s">Seleccione</option>
                    <option value="DEP" <?=($objeto->origen=='DEP')? 'selected="selected"' : ''?>>Dep&oacute;sito</option>
                    <option value="NC" <?=($objeto->origen=='NC')? 'selected="selected"' : ''?>>Nota Cr&eacute;dito</option>
                    <option value="ND" <?=($objeto->origen=='ND')? 'selected="selected"' : ''?>>Nota D&eacute;bito</option>
                </select>
                <span class="errormsg" id="error_tipo_doc">*</span>
                <?=$validator->show("error_tipo_doc")?>
            </td>
        </tr>
        <tr>
            <td>Tipo Movimiento:</td>
            <td>
                <input type="radio" name="tMovimiento" id="tMovimiento_1" value="1" <?=($objeto->tMovimiento=='1' or ($objeto))? 'checked': ''?> />Suma&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       <input type="radio" name="tMovimiento" id="tMovimiento_2" value="2" <?=($objeto->tMovimiento=='2')? 'checked': ''?> />Resta&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
                       <input type="radio" name="tMovimiento" id="tMovimiento_3" value="3" <?=($objeto->tMovimiento=='3')? 'checked': ''?> />Ambos&nbsp;&nbsp;
                       <span class="errormsg" id="error_nominal">*</span>
                <?=$validator->show("error_movimiento")?>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input name="accion" type="button" value="<?=$boton?>" onclick="<?=$validator->validate() ?>" />
            </td>
        </tr>
    </table>
    <input name="id" type="hidden" value="<?=$objeto->id?>" />
    <input name="accion" type="hidden" value="<?=$boton?>" />
</form>
<p class="errormsg">(*) Campo requerido</p>
