<form name="form1" method="post">
<table width="310" border="0">
  <tr>
    <td width="90">Descripci&oacute;n:</td>
    <td width="204"><input type="text" name="descripcion" value="<?=$objeto->descripcion?>">
	<span class="errormsg" id="error_desc">*</span>
		<?=$validator->show("error_desc")?>   </td>
  </tr>
  <tr>
    <td>Suma/Resta:</td>
    <td>
		<select name="sumaresta" id="sumaresta">
			<option value="1" <?=($objeto->accion =="1")? 'selected=\"selected\"': ''?>>Suma</option>
			<option value="2" <?=($objeto->accion =="2")? 'selected=\"selected\"': ''?>>Resta</option>
		</select>
      <span class="errormsg" id="error_suma">*</span>
	<?=$validator->show("error_suma")?>  
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td></td>
  </tr>
</table>
<input style="float:right" name="boton" type="button" value="<?=$boton?>" onclick="<?=$validator->validate() ?>" />
<input name="id" type="hidden" value="<?=$objeto->id?>" />
<input name="accion" type="hidden" value="<?=$boton?>" /> 
<span style="position:absolute;top:4px;right:5px;cursor:pointer;">
<img onClick="close_div();" src="images/close_div.gif" title="Cerrar" /></span>
</form>
<p class="errormsg">(*) Campo requerido</p>