<form name="form1" method="post" id="form1">
<? if($objeto->id){ ?>	
	<script type="text/javascript" language="javascript">
		ver_ctas();
	</script>
<? } ?>
<table style="text-align: left; width: 100%;"border="0" cellpadding="1" cellspacing="1">
  <!--DWLayoutTable-->
    <tr>
      <td height="26" colspan="3" valign="top">
	  	<table border="0" cellpadding="0" cellspacing="0">
	  	  <tr>
	  	    <td>
	  	      <label for="fecha">Fecha:&nbsp;&nbsp;</label></td>
   		    <td><input id="fecha" class="campoFecha" readonly="readonly" name="fecha" value="<?=muestraFecha($objeto->fecha)?>"  /></td>
		    <td><div align="left" style="vertical-align:top">&nbsp;<a href="#" id="boton_fecha" onClick="return false;"><img  border="0" src="images/calendarA.png" width="20" height="20" />				 </a>  
 			    <script type="text/javascript">
					new Zapatec.Calendar.setup({
						firstDay          : 1,
						weekNumbers       : true,
						showOthers        : false,
						showsTime         : false,
						timeFormat        : "24",
						step              : 2,
						range             : [1900.01, 2999.12],
						electric          : false,
						singleClick       : true,
						inputField        : "fecha",
						button            : "boton_fecha",
						ifFormat          : "%d/%m/%Y",
						daFormat          : "%Y/%m/%d",
						align             : "Br"
					 });
				</script>
		    </div></td>
    	  </tr>
        </table></td>
	</tr>
	<tr>
	  	<td height="24" colspan="3" valign="top"><hr />
  	      <strong>Forma de Pago</strong> </td>
    </tr>
	<tr>
	  <td height="24" colspan="3" valign="top"><label for="descripcion">
                  <?php  if($objeto->tipo_pago==0)
                            echo '<input name="rdb_formaPago" type="radio" value="0"   onchange="set_fp(this);" checked />';
                        else
                            echo '<input name="rdb_formaPago" type="radio" value="0"  onchange="set_fp(this);"/>';
                  ?>
                  
  	  Cheque:</label></td>
    </tr>
        
	<tr>
		<td width="132" height="24"></td>
        <td width="411" valign="top">N&uacute;mero:
        <?php
            if($objeto->tipo_pago==0)
              echo '<input name="txt_numeroCheque"  type="text" id="txt_numeroCheque" style="width:100px" value="'.$objeto->nrodoc.'"  /><span class="errormsg" id="error_beneficiario">*</span></td>';
            else
              echo '<input name="txt_numeroCheque" type="text" id="txt_numeroCheque" style="width:100px" value="" disabled/><span class="errormsg" id="error_beneficiario">*</span></td>';
        ?>
        
        <td width="661" valign="top">Beneficiario:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <?php
        if($objeto->tipo_pago==0)
        echo '<input id="beneficiario" class="textDesc" name="beneficiario" value="'.$objeto->beneficiario.'" style="width:300px"  />';
        else
          echo '<input id="beneficiario" class="textDesc" name="beneficiario" value="" style="width:300px" disabled />';
      ?>
      
	    <span class="errormsg" id="error_beneficiario">*</span>
        <?=$validator->show("error_beneficiario")?>		</td>
    </tr>
	<tr>
	  <td height="3"></td>
	  <td></td>
	  <td></td>
    </tr>
	<tr>
	  <td height="24" colspan="3" valign="top">
              <?php  if($objeto->tipo_pago==1)
                        echo '<input name="rdb_formaPago" type="radio" value="1"  onchange="set_fp(this);" checked/>';
                      else
                        echo '<input name="rdb_formaPago" type="radio" value="1"  onchange="set_fp(this);"/>';
              ?>

      Transferencia</td>
	</tr>
	<tr>
	  <td height="1"></td>
	  <td></td>
	  <td></td>
    </tr>
	
	
	<tr>
	  <td height="26"></td>
	  <td valign="top" class="nrodoc">N&uacute;mero:
              <?php
                if($objeto->tipo_pago==1)
                  echo '<input name="txt_numero_transferencia" type="text" id="txt_numero_transferencia" style="width:100px" value="'.$objeto->nrodoc.'"  />';
                else
                  echo '<input name="txt_numero_transferencia" type="text" id="txt_numero_transferencia" style="width:100px" value=""  disabled/>';
              ?>
              
        <span class="errormsg" id="error_nrodoc">*</span>
	    <?=$validator->show("error_nrodoc")?></td>
	  <td valign="top">Observaciones:
              <?php
                if($objeto->tipo_pago==1)
                  echo '<input name="txt_observacion" type="text" id="txt_observacion" style="width:300px" value="'.$objeto->descripcion.'"  /><span class="errormsg" id="error_beneficiario">*</span></td>';
                else
                  echo '<input name="txt_observacion" type="text" id="txt_observacion" style="width:300px" value=""  disabled/><span class="errormsg" id="error_beneficiario">*</span></td>';
              ?>
              
    </tr>
	<tr>
	  <td height="14"></td>
	  <td></td>
	  <td></td>
    </tr>
	
	<tr>
	  <td height="4" colspan="3" valign="top"><hr /></td>
    </tr>
</table>
<table align="center" style="text-align: left; width: 100%;"border="0" cellpadding="1" cellspacing="1">
  <!--DWLayoutTable-->
     <tr><td colspan="8"><strong>Tipo de Pago</strong></td>
	 
	 </tr>
	<tr>
            <td height="24" colspan="8" valign="top">
                <?php  if($objeto->tipo==0)
                        echo '<input name="rdb_tipo" id="rdb_tipo" type="radio" value="0"  onchange="set_tp(this);" checked/>';
                      else
                        echo '<input name="rdb_tipo" id="rdb_tipo" type="radio" value="0"  onchange="set_tp(this);"/>';
              ?>

	    Aportes Patronales y deducciones de N&oacute;mina
		<td width="2">&nbsp;</td>
	    <td width="2">&nbsp;</td>
	    <td width="112">&nbsp;</td>
	    <td width="240">&nbsp;</td>
	    <td width="162">&nbsp;</td>
	    <td width="1">&nbsp;</td>
        <td width="1">&nbsp;</td>
	</tr>
	<tr>
	  <td width="2" height="26">&nbsp;</td>
	  <td width="113">&nbsp;</td>
	  <td colspan="10" valign="top">Aporte o Deuducci&oacute;n:
              <?php echo helpers::superCombo($conn, "SELECT int_cod,conc_nom,cuenta_contable,cuenta_aporte FROM rrhh.concepto WHERE (conc_aporte != '' AND cuenta_aporte != 0) OR (cuenta_contable != 0 AND conc_tipo = 1 AND conc_retencion  = 1)", '', 'slt_aportes', 'slt_aportes','width:250px',"",'int_cod','conc_nom', false, 50,'disabled','Seleccione');?>
            </td>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
      <td>&nbsp;</td>
	</tr>
	<tr>
	  <td height="24" colspan="8" valign="top">
              <?php  if($objeto->tipo==1)
              echo '<input name="rdb_tipo" id="rdb_tipo" type="radio" value="1"  onchange="set_tp(this);" checked/>';
                      elseif(!$objeto->id)
                        echo '<input name="rdb_tipo" id="rdb_tipo" type="radio" value="1"  onchange="set_tp(this);" checked/>';
                      else
                        echo '<input name="rdb_tipo" id="rdb_tipo" type="radio" value="1"  onchange="set_tp(this);"/>';
              ?>

      Retenciones o Proveedores</td>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
      <td>&nbsp;</td>
	</tr>
	<tr>
	  <td height="26">&nbsp;</td>
	  <td>&nbsp;</td>
	  <td colspan="10" valign="top"><p>Retenci&oacute;n:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <?php echo helpers::superCombo($conn, 'SELECT A.id_cta,B.descripcion FROM finanzas.retenciones_adiciones AS A INNER JOIN contabilidad.plan_cuenta AS B ON A.id_cta = B.id GROUP BY A.id_cta,B.descripcion ORDER BY B.descripcion', '', 'slt_retencion', 'slt_retencion','width:250px',"",'id_cta','descripcion', false, 50,'','Seleccione');?>
	    </p></td>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
      <td>&nbsp;</td>
	</tr>
	<tr>
	  <td height="4" colspan="15" valign="top"><hr /></td>
    </tr>
	<tr>
	  <td height="0"></td>
	  <td></td>
	  <td width="41"></td>
	  <td width="190"></td>
	  <td width="39"></td>
	  <td width="144"></td>
	  <td width="184"></td>
	  <td width="163"></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
      <td></td>
	</tr>
	<tr>
	 <td colspan="8"><strong>Per&iacute;odo</strong></td>
	</tr>
	<tr>
	  <td height="41" colspan="3"  valign="top">
        
	              
	    <label for="fecha">Fecha desde:&nbsp;&nbsp;</label>
	  
	  <td  valign="top"><input id="fechadesde" class="campoFechadesde" readonly="readonly" name="fechadesde" value="<?=muestraFecha($objeto->fecha)?>"  />	  </td>
	  <td align="left"  valign="top">    <div align="left" style="vertical-align:top">	    &nbsp;<a href="#" id="boton_fechadesde" onClick="return false;"><img  border="0" src="images/calendarA.png" width="20" height="20" />				 </a>
        <script type="text/javascript">
					new Zapatec.Calendar.setup({
						firstDay          : 1,
						weekNumbers       : true,
						showOthers        : false,
						showsTime         : false,
						timeFormat        : "24",
						step              : 2,
						range             : [1900.01, 2999.12],
						electric          : false,
						singleClick       : true,
						inputField        : "fechadesde",
						button            : "boton_fechadesde",
						ifFormat          : "%d/%m/%Y",
						daFormat          : "%Y/%m/%d",
						align             : "Br",
                                                dateStatusFunc    : dateInRange1, //the function to call
                                                onUpdate          : filterDates1

					 });
				  </script>	  </td>
	  <td>&nbsp;</td>
	  <td  valign="top">
        <label for="fecha">Fecha hasta:&nbsp;&nbsp;</label></td>
	  <td colspan="3"  valign="top"><input id="fechahasta" class="campoFechahasta" readonly="readonly" name="fechahasta" value="<?=muestraFecha($objeto->fecha)?>"  /></td>
	  <td  valign="top"><div align="left" style="vertical-align:top">&nbsp;<a href="#" id="boton_fechahasta" onClick="return false;"><img  border="0" src="images/calendarA.png" width="20" height="20" />				 </a>
			  <script type="text/javascript">
					//new Zapatec.Calendar.setup({
					//	firstDay          : 1,
					//	weekNumbers       : true,
					//	showOthers        : false,
					//	showsTime         : false,
					//	timeFormat        : "24",
					//	step              : 2,
					//	range             : [1900.01, 2999.12],
					//	electric          : false,
					//	singleClick       : true,
					//	inputField        : "fechahasta",
					//	button            : "boton_fechahasta",
					//	ifFormat          : "%d/%m/%Y",
					//	daFormat          : "%Y/%m/%d",
					//	align             : "Br",
                                          //      dateStatusFunc    : dateInRange2, //the function to call
                        		//	onUpdate          : filterDates2

					// });
				</script>
	  </div></td>
   	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
   	  <td></td>
      <td></td>
	</tr>
	
	<tr>
	  <td height="23" colspan="3" valign="top">Descripci&oacute;n:              
	  <td colspan="8" valign="top"><input name="txt_descripcion" type="text" id="txt_descripcion" style="width:500px" /></td>
	  <td></td>
	  <td></td>
	  <td></td>
      <td></td>
	</tr>
	<tr>
	  <td height="33">    
	  <td>    
	  <td>    
	  <td></td>
	  <td></td>
          <td colspan="2" align="center" valign="middle">
              <div style="height:40px;padding-top:10px;">
              <input name="bto_calcular" type="button" id="bto_calcular" value="C&aacute;lcular" onclick="calculo();"/>
              <p id="calculando" style="display:none;margin-top:0px;">
          <img alt="calculando" src="images/wait.gif" /> Calculando...
          </p>
              </div>
          </td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
    </tr>
	
	<tr>
	  <td height="76" colspan="13" valign="top">    
        
		  <div id="ctasDiv" style="display:inline">
			  <table align="center" style="text-align: left; width: 100%;"border="0" cellpadding="1" cellspacing="1">
			    <!--DWLayoutTable-->
				  <tr>
					  <td height="39" colspan="2" valign="middle">Saldo: </td>
                                          <td width="758" valign="middle"><input type="text" id="saldo" name="saldo"  readonly="readonly" style="text-align:right;width:100px">
                                                                                 <!--onkeypress="return(formatoNumero(this,event));"-->
                                          </td>
				  <td width="298">&nbsp;</td>
				  </tr>
				  <tr>
					  <td width="62" height="26"><input type="button" name="bEliminar" id="bEliminar" onClick="eliminaCta();" value="Eliminar"></td>
					  <td colspan="3" align="right"><input type="button" name="bAgregar" id="bAgregar" onClick="agregarCta();"  value="Agregar"></td>
				  </tr>
				  <tr>
				    <td height="3"></td>
				    <td width="64"></td>
				    <td></td>
		            <td></td>
			    </tr>
			  </table>
	  </div>
	  <td></td>
      <td></td>
	</tr>
	<tr>
	  <td height="21" colspan="13" align="center" valign="top">                                    	<hr />
      
	  <td></td>
      <td></td>
	</tr>
	<tr>
	  <td height="152" colspan="13" align="center" valign="top">                                    <div id="gridboxpp" style=" width:500px; height:150px" class="gridbox" align="center"></div>
	  <td></td>
      <td></td>
	</tr>
	<tr>
	  <td height="21">    
	  <td colspan="13" valign="top">                              <hr />	
      
	  <td>&nbsp;</td>
	</tr>
	<tr>
	  <td height="24" colspan="9" align="right" valign="top" >                            Total a Pagar:  
	  
	  <td colspan="4" valign="top" >        <input type="text" name="monto_pagar" id="monto_pagar" style="text-align:right" readonly />
      
	  <td></td>
	  <td></td>
    </tr>
	<tr>
	  <td height="21" colspan="13" valign="top" >                                    Motivo de Anulacion
      
	  <td></td>
	  <td></td>
    </tr>
	<tr>
	  <td height="85" colspan="13" valign="top">                                    
		  <textarea name="mAnulado" id="mAnulado" cols="70" rows="5"><?=$objeto->motivo?>
			</textarea>
		  <span class="errormsg" id="error_mAnulado">*</span>
        <?=$validator->show("error_mAnulado")?>		
      
	  <td></td>
	  <td></td>
    </tr>
	<tr>
	  <td height="11">    
	  <td>    
	  <td>    
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
    </tr>
	
	
	
	
	
	
	
	
	
	
	
	
    
	<input type="hidden" name="hNroCta" id="hNroCta">
	<input type="hidden" name="hSaldo" id="hSaldo">
	<input type="hidden" name="hIdCta" id="hIdCta">
</table>
<input type="hidden" name="id" id="id" value="<?=$objeto->id?>"
<input type="hidden" name="numcom" id="numcom" value="<?=$NumCom?>" />
<input type="hidden" name="json_det" id="json_det" />
<input type="hidden" name="transferencia" id="transferencia" />
<input type="hidden" name="id_cc_concepto" id="id_cc_concepto" />
<input type="hidden" name="id_cuenta_tercero" id="id_cuenta_tercero" value="5" />
<input type="hidden" name="next_cheque" id="next_cheque"/>

<? if(!empty($ctaFondos)){ 
		if($objeto->status!=2){ ?>
	    <div align="right">
	        <? if($boton=='Guardar') { ?>
	            <input name="boton" id="boton" type="button" style="margin-left:2px;" value="Guardar" onclick="GuardarPP('<?=$ctaFondos?>',1,'<?=$boton?>');" />
	        <? } else { ?>
	            <input name="boton" id="boton" type="button" style="margin-left:2px;" value="Anular" onclick="GuardarPP('<?=$ctaFondos?>',2,'Anular');" />
	        <? } ?>
	    <input type="hidden" name="accion" id="accion" />
		<span style="position:absolute;top:4px;right:5px;cursor:pointer;">
		<img onClick="close_div();" src="images/close_div.gif" title="Cerrar" /></span>
	    </div>
 <? 	} 
	} ?>

<br />
<p class="errormsg">(*) Campo requerido</p>

</form>
<script language="javascript" type="text/javascript">

	buildGridPP();
	CargarGridPPInicial('<?=$objeto->id?>')

        Event.observe('txt_numeroCheque', "click", function () {
        traeUltimoCheque();
    });

//GRID DE PARTIDAS PRESUPUESTARIAS//
function buildGridPP(){
	//set grid parameters
	mygridpp = new dhtmlXGridObject('gridboxpp');

	mygridpp.selMultiRows = true;
	mygridpp.setImagePath("js/grid/imgs/");
	mygridpp.setHeader("Descripción,Monto");
	mygridpp.setInitWidths("350,150");
	mygridpp.setColAlign("left,right");
	mygridpp.setColTypes("coro,ro");
	mygridpp.setColSorting("int,int");
	mygridpp.setColumnColor("white,white");
	mygridpp.rowsBufferOutSize = 0;
	mygridpp.setMultiLine(false);
	mygridpp.selmultirows="true";
        mygridpp.delim=';';
        mygridpp.init();
	
}

//CARGA DEL GRID DE PARTIDA PREUPUESTARIA//
function CargarGridPPInicial(id){
	mygridpp.clearSelection();
	mygridpp.clearAll();
	//alert('entro '  + <?=$objeto->detTransferencia?>);
	if("<?=$objeto->id?>"){ 
		if('<?=$objeto->detTransferencia?>'){
			var Relaciones = eval( '(' + '<?=$objeto->detTransferencia?>' + ')');
			var totMonto = 0;
			for(var j=0;j<Relaciones.length;j++){
				
					var monto= parseFloat(Relaciones[j]['monto']);
					totMonto += monto;
					monto = monto.toFixed(2);
					//mygridpp.getCombo(0).put(Relaciones[j]['idCta'],Relaciones[j]['descripcion']);
					mygridpp.addRow(Relaciones[j]['id_cta'],Relaciones[j]['descripcion']+";"+muestraFloat(monto));
						
					
			}
			$('monto_pagar').value = muestraFloat(totMonto);
		}
	}	
}



</script>
