<form name="form1" method="post">
<table width="600" border="0">
   <tr>
    <td >Descripci&oacute;n </td>
	<td colspan="2"><input type="text" name="descripcion" id="descripcion" value="<?=$objeto->descripcion?>" size="40" >
	<span class="errormsg" id="error_descripcion">*</span>
	<?=$validator->show("error_minimo")?></td>
  </tr>
  <tr>
    <td>Abreviaci&oacute;n:</td>
	<td colspan="2"> <input type="text" name="abreviacion" id="abreviacion" value="<?=$objeto->abreviacion?>" size="40" >
	  <span class="errormsg" id="error_abreviacion">*</span>
	<?=$validator->show("error_maximo")?></td>
  </tr>
 
</table>
<br />
<div style="width:490px" align="right">
<input name="boton" type="button" value="<?=$boton?>" onclick="<?=$validator->validate() ?>" />
<input name="id" type="hidden" value="<?=$objeto->id?>" />
<input name="accion" type="hidden" value="<?=$boton?>" />
</div>
<span style="position:absolute;top:4px;right:5px;cursor:pointer;">
<img onClick="close_div();" src="images/close_div.gif" title="Cerrar" /></span>
</form>
<p class="errormsg">(*) Campo requerido</p>