<form name="form1" method="post">
<table width="600" border="0">
  <tr>
    <td width="100">Descripcion del Modelo:</td>
    <td ><input name="mod_nom" type="text" id="mod_nom" style="width:250px" value="<?=$objeto->mod_nom?>" onchange="this.value = this.value.toUpperCase();">
      <label>
      <input name="id" type="hidden" id="id" value="<?=$objeto->id?>" />
      <span class="errormsg" id="error_mod_nom">*</span>
      <?=$validator->show("error_mod_nom")?>
      </label></td>
  </tr>
 <!--Se agrega este pull down para poder validar la seleccion de la modelos por marca al agregar un nuevo vehiculo
 Ismael Depablos 18/09/2006-->
  <tr>
    <td width="100">Marca del vehiculo:</td>
    <td ><?=helpers::combo($conn, '', $objeto->cod_mod, '', 'cod_mod', 'cod_mod', '', '', 'SELECT cod_mar as id, descripcion FROM vehiculo.marca WHERE status=1')?></td>
  </tr>
  <tr>
    <td>Estatus:</td>
    <td><label>
         <?=helpers::combo($conn, 'status', $objeto->status)?></label></td>
  </tr>
</table>
<input style="float:right"  name="accion" type="button" value="<?=$boton?>" onclick="<?=$validator->validate() ?>" />
<input name="accion" type="hidden" value="<?=$boton?>" /> 
<span style="position:absolute;top:4px;right:5px;cursor:pointer;">
<img onClick="close_div();" src="images/close_div.gif" title="Cerrar" /></span>
</form>
<p class="errormsg">(*) Campo requerido</p>