<?php 
function compara_checked($campo, $valor){
	if($campo==$valor){
	echo "checked";
	}
}
?>
<form name="form1" method="post">
<table width="426" border="0">
  <tr>
    <td width="75">Descripci&oacute;n:</td>
    <td width="341"><input name="descripcion" type="text" onchange="this.value = this.value.toUpperCase();" value="<?=$objeto->descripcion?>" size="50">
	<span class="errormsg" id="error_desc">*</span>
	  <?=$validator->show("error_desc")?>   </td>
  </tr>
  <tr>
    <td width="75">Monto:</td>
    <td width="341"><input name="monto" type="text" onchange="this.value = this.value.toUpperCase();" value="<?=$objeto->monto?>" size="50" style="text-align:right">
	<span class="errormsg" id="error_desc">*</span>
	  <?=$validator->show("error_desc")?>   </td>
  </tr>
  <tr>
    <td>Activo:</td>
    <td><input type="checkbox" name="status" value="1" <?=compara_checked($objeto->status, 1)?> ></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input name="accion" type="button" value="<?=$boton?>" onclick="<?=$validator->validate() ?>" /></td>
  </tr>
</table>
<input name="id" type="hidden" value="<?=$objeto->id?>" />
<input name="accion" type="hidden" value="<?=$boton?>" /> 
<span style="position:absolute;top:4px;right:5px;cursor:pointer;">
<img onClick="close_div();" src="images/close_div.gif" title="Cerrar" /></span>
</form>
<p class="errormsg">(*) Campo requerido</p>
